[viewBag]
title = "GitKraken"
url = "/doc/outils/gitkraken"
layout = "doc"
is_hidden = 0
navigation_hidden = 0
==
<h1><img src="./../../../../a/img/logo_gitkraken.png" alt="logo GitKranken" width="50"> GitKraken</h1>

<section>
  <a href="https://www.gitkraken.com/invite/29Q2maAD" rel="noopener noreferrer" title=" Site Web de GitKraken " target="_blank">Installer l'app & avoir
    un compte <strong>G</strong>it<strong>K</strong>raken</a>
  <a alt=" Vidéo installation AMPPS " href="https://www.youtube.com/watch?v=RnZprxnyX8w&index=5&list=PL9DeR6N_lL9zdwkF7X5xsjGwIr8ZnotjP"
    target="_blank" title=" Cliquer pour voir la

      Vidéo sur GK "><img src="/storage/app/media/uploaded-files/linux_logo.png"
      style="height: 40px;"></a>
</section>

<section class="tac">
    * * * * *<br><br>
    <img src="../../../../a/img/git_important.jpg" alt="" width="300px">
</section>