h1, h2 {
  margin: 0;
  padding: 0;
  //border: 1px solid red;
}

#actorList {
  margin-top: 0;
}

.userInList:not(:last-of-type):after {
  content: ", "
}

.userInList:last-of-type:after {
  content: "."
}

h1.spaceTopSite {
  margin-top: 70px;
}
