p#testli {
    color:rgb(38, 233, 247);
    line-height: 1;
    margin-top: 30px;
    font-size: 1em;
    margin: 10px 0;
}

.comaSeparate {
    color:rgb(4, 0, 255);
}

.userInList:last-of-type {
    color:red;
}

.userInList:not(:last-of-type):after {
    content: ", "
}