$taille: 1.4em;
body {
  margin-top: 50px;
  background-color: cornsilk;
  font-size: $taille;
  color:rgb(17, 207, 0);
  font-family:Comic Sans MS, "arial";
}
header {
  color:blue;
  font-size: 1.6em;
  font-weight: 800;
  text-align: right;
  margin-right: 20px;
}
body {
  color:#333;
}

