name ="header"
==
<?php
function onStart(){
    $this['env']=env('APP_ENV');
}
?>
==
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
            content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{this.page.title}} | Doc c57</title>

    {% if this.page.__isset('title') and this.page.title is not empty %}
    <meta name="title" content="{{ this.page.title }}" />
    {% endif %} {% if this.page.__isset('meta_description') and
    this.page.meta_description is not empty %}
    <meta name="description" content="{{ this.page.meta_description }}" />
    {% endif %}

    <meta name="author" content="GrCOTE7" />
    <meta name="generator" content="c57.fr" />

    <link rel="shortcut icon" type="image/png" href="{{ 'assets/images/favicon.ico' | theme }}"/>
    <link rel="icon" type="image/gif" href="{{ 'assets/images/animated_favicon.gif' | theme }}"/>

  <!-- Compressed CSS -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/foundation-sites@6.5.1/dist/css/foundation.min.css" integrity="sha256-1mcRjtAxlSjp6XJBgrBeeCORfBp/ppyX4tsvpQVCcpA= sha384-b5S5X654rX3Wo6z5/hnQ4GBmKuIJKMPwrJXn52ypjztlnDK2w9+9hSMBz/asy9Gw sha512-M1VveR2JGzpgWHb0elGqPTltHK3xbvu3Brgjfg4cg5ZNtyyApxw/45yHYsZ/rCVbfoO5MSZxB241wWq642jLtA==" crossorigin="anonymous">

  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">

{#
    <link rel="stylesheet" href="{{ [
        'assets/dist/css/doc/all.css',
        'assets/dist/css/doc/hacker.css',
    ]|theme }}">
#}

<link rel="stylesheet" href="themes/c57/assets/dist/css/doc/all.css">
<link rel="stylesheet" href="themes/c57/assets/dist/css/doc/doc.css">
<link rel="stylesheet" href="themes/c57/assets/dist/css/doc/hacker.css">

  <style>
    .navbar {
      margin: 20px 0;
    }

    .jumbotrono {
      text-align: center;
      min-height: 0;
      background-color: #1f1f1f;
      padding-top: 20px;
      padding-bottom: 0;
    }

    .jumbotron h1 {
      color: blue;
    }

    body {
        {# background-color: #0f0!important; #}
    }
  </style>

  {% component 'googleTracker' %}


<!--

    {# {% styles %} #}

-->


    {% if env=='dev' %}
        {% component 'headAssets' %}
    {% else %}
        {# <link rel="stylesheet" href="{{ 'assets/sass/une/style.css'|theme }}"> #}
        <link rel="stylesheet" href="{{'build/assets/app.2062923e.css'|theme}}">
    {% endif %}
</head>
