{% put pageTitle %}
    Liste de tâches à faire
{% endput %}

<form
    role="form"
    data-request="{{ __SELF__ }}::onAddItem"
    data-request-update="'{{ __SELF__ }}::list': '#result'"
    data-request-success="$('#input-item').val('')"
    data-request-flash>

    <div class="shadow overflow-hidden sm:rounded-md">
        <div class="px-4 py-5 bg-white sm:p-6">
            <div class="grid grid-cols-6 gap-6">
                <div class="col-span-6 sm:col-span-3">
                    <label for="task" class="block text-sm font-medium text-gray-700 pb-1">Ajouter une tâche</label>
                    <input type="text" id="input-item" class="form-control" name="newItem" autocomplete="given-name" class="mt-6 focus:ring-indigo-500 focus:border-indigo-500 block border-2 border-solid border-red-500 p-3" placeholder="Que faut-il faire ?">
                </div>
            </div>
        </div>

        <div class="px-4 py-3 bg-gray-50 sm:px-6">
            <button type="submit" class="inline-flex justify-center py-2 px-4 border border-transparent shadow-sm text-sm font-medium rounded-md bg-blue-400" data-attach-loading>Ajouter une tâche</button>
        </div>

        <ul class="list-group" id="result"></ul>

    </div>

</form>
