<div class="flex flex-col justify-center w-full">
    <div class="-my-2 overflow-x-auto sm:-mx-6 lg:-mx-8">
        <div class="py-2 align-middle inline-block min-w-full sm:px-6 lg:px-8">
            <div class="shadow overflow-hidden border-b border-gray-50 sm:rounded-b-lg">

                <table class="min-w-full divide-y divide-gray-200">
                    <thead class="bg-gray-600">
                    <tr class="w-full">
                        <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-50 uppercase tracking-wider">Nom de la tâche</th>
                        <th scope="col" class="relative px-6 py-3"><span class="sr-only">Actions</span></th>
                    </tr>
                    </thead>
                    <tbody class="bg-gray-200 divide-y divide-gray-300">

{% for k, item in items %}
    {% set fd = 50 + k%2 * 150 %}
    <tr class='bg-gray-{{fd}}''>
        <input type="hidden" name="items[]" value="{{ item }}" />
        <td class='px-6 py-1 whitespace-nowrap'>{{ item }}</td>
        <td class='px-6 py-1'><button type="button"
            class="close pull-right"
            aria-hidden="true"
            onclick="$(this).closest('tr').remove()">&times;</button></td>
    </tr>
{% endfor %}
                    </tbody>

                </table>

            </div>
        </div>
    </div>
</div>
