header#layout-header .navbar-brand {
  background-image: url("../images/logo_150x93_c7.png");
  background-size: 100%;
  padding: 0 70px 20px 0;
  background-repeat: no-repeat;
  background-position: 0 50%;
}

#layout-content {
  padding: 0;
  background-color: beige;
  color: maroon;
  text-align: justify;
  padding-bottom: 20px;
  line-height: 1.25;
}

#layout-content .container {
  padding-top: 15px;
  max-width: 97%;
  margin: 0 auto !important;
}

@media (min-width: 1200px) {
  #layout-content .container {
    max-width: 992px;
    margin: 0 auto !important;
  }
}

#layout-content a {
  text-decoration: none !important;
}

#layout-content hr {
  border-color: #ccc;
}

#layout-content .homeD {
  top: 10px;
}

#layout-content .enCours {
  font-size: 1.4em;
  margin-bottom: 20px;
}

#layout-content .enCours::before {
  display: block;
  content: 'En cours:';
  margin-top: 20px;
}

#layout-content .tac {
  text-align: center;
}

#col2 {
  width: 100%;
  text-align: justify;
  -webkit-column-count: 2;
          column-count: 2;
}

#col2 ol li {
  page-break-inside: avoid;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  margin-bottom: 30px;
}

#col2 li:not(ol):first-of-type {
  margin-bottom: 10px;
}

#col2 #firstSujet {
  margin-bottom: 30px;
}

footer {
  line-height: 1;
  font-size: 0.6rem;
  width: 100%;
  color: #cacaa1;
  background-color: #291e02;
  padding: 5px 0;
}

footer p {
  margin: 3px;
}
/*# sourceMappingURL=demo.css.map */