description = "Maquette de la page d'accueil de c57.fr"
==
<html lang="fr">
<head>
  <meta charset="UTF-8"/>
  <title>Accueil | c57.fr</title>
  <meta name="description" content="{{ this.page.meta_description }}">
  <meta name="author" content="GC7">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content='Accueil de c57.fr'/>
  <link rel="icon" type="image/png" href="{{ 'assets/images/favicon.ico'|theme }}">
  <link rel="stylesheet" href="{{ 'assets/dist/css/style.css'|theme }}">
  <link rel="stylesheet" href="{{ 'assets/css/stylec57.min.css'|theme }}">
  {% styles %}
</head>

<body>

<!-- Content -->
<section id="layout-content" class="container clearfix">
  {% page %}
</section>

{% partial "c57/footerc57" %}

<!-- Scripts -->
<script src="{{ 
  [
    'assets/js/jquery.js',
    'assets/dist/js/app.js'
  ]
  |theme }}"></script>
{% framework extras %}
{% scripts %}

</body>
</html>
