description = "Static Layout des pages Doc"

[staticPage]
useContent = 1
default = 0

[headAssets]
==
<?php
function onStart(){
  // Pour tuer le cash en prod
  \Artisan::call('cache:clear');
  \Artisan::call('view:clear');
}
?>
==

{#
[staticMenu]
code = "mainmenudoc"

[simpleMenu]
main-ul-class = "nav navbar-nav"
active-class = "active"

[googleTracker]
#}

<!doctype html>
<html lang="fr">

    {% partial 'doc/head' %}

    <body>

        {% partial 'doc/nav' %}
        {% page %}
        {% partial 'shared/footer' %}
{#
#}

    </body>

</html>
