description = 'C57.fr 2024 - La Une par défaut'
[headAssets]
==
<?php
function onStart(){
  // Pour tuer le cash en prod
  \Artisan::call('cache:clear');
  \Artisan::call('view:clear');
}
?>
==
<!doctype html>
<html lang="fr">

    {% partial 'une/head' %}

    <body>

        {% partial 'une/nav' %}
        {% page %}
        {% partial 'shared/footer' %}

    </body>

</html>
