description = "Default layout"

[headAssets]
==
<!doctype html>
<html lang="fr">

    {% partial 'shared/head' %}

    <body class="font-sans">

        {% partial 'shared/nav' %}

        <header class="bg-white shadow">
            <div class="mx-auto max-w-7xl py-3 px-4 sm:px-6 lg:px-8">
                <h1 class="text-2xl font-bold tracking-tight text-gray-600">{% placeholder pageTitle %}</h1>
            </div>
        </header>

        <main>
            <div class="text-md mx-auto max-w-7xl py-6 sm:px-6 lg:px-8">
                {% page %}
            </div>
        </main>

        {% partial 'shared/footer' %}

    </body>
</html>

<!--
  This example requires updating your template:

  ```
  <html class="h-full bg-gray-100">
  <body class="h-full">
  ```
-->

