title = "OB-10"
url = "/t/ob-10"
layout = "basic"
description = "Extending the User plugin"
is_hidden = 0
show_menu = 0

[userslist]
==
<?php
use Backend\Models\User;
function onStart(){
  $this->addCss('assets/css/tests.css');

  $user        = User::first();
  $var         = [1,2,3];
  $var['name'] = $user->first_name . ' ' . $user->last_name;

  // $var  = User::all();
  // $var2 = User::get();

  $this['result']=print_r( $var, true);
}
?>
==
<div class="container">

  <h1>Extending the User plugin</h1>
  
  {% component 'userslist' %}
  
</div>