title = "OB-15"
url = "/t/ob-15"
layout = "basic"
==
<div class="container">

  <h1>Building a responsive multi-language website (Part 2)</h1>

  <p><strong>Cf. <a href="https://github.com/c57fr/flatui" target="_blank">Dépot FlatUi</a></strong></p>

</div>