title = "OB-1"
url = "/t/ob-1"
layout = "basic"
description = "Test de components"

[affHomeT]

[affTri]

[meteo]
country = "fr"
state = "Nd"
city = "Anzin"
units = "Metric"
==
<div class="container">

  {% component 'affHomeT' %}

  <h2>Component <strong>meteo</strong></h2>
  {% component 'meteo' %}
<hr>
  <h2>Component <strong>affTri</strong></h2>
  {% component 'affTri' %}

</div>
