title = "OB-2 Category"
url = "/t/ob-2-category/:slug"
layout = "basic"
description = "Articles d'une catégorie"
is_hidden = 0
show_menu = 0

[blogPosts]
pageNumber = "{{ :page }}"
categoryFilter = "{{ :slug }}"
postsPerPage = 10
noPostsMessage = "No posts found"
sortOrder = "published_at desc"
categoryPage = "t/ob-2-category"
postPage = "t/ob-2-post"

[blogCategories]
slug = "{{ :slug }}"
displayEmpty = 0
categoryPage = "t/ob-2-category"
==
<div class="container">
    
    <h1><a href="/t/ob-2">Blog</a></h1>

  <div class="row">
    <div class="col-sm-8">
      {% component 'blogPosts' %}
    </div>

    <div class="col-sm-4">
      {% component 'blogCategories' %}
    </div>
  </div>

</div>