title = "OB-20"
url = "/t/ob-20"
layout = "basic"
==
<div class="container">
  <h1>Beyond Behaviors</h1>
  <p class="h4">Part 2: Rendering Lists and Forms by
    hand</p>

  Voir <a href="/be/grcote7/tutos/mycontroller">BE Tuto</a>
</div>
