title = "OB-2 Post"
url = "/t/ob-2-post/:slug"
layout = "basic"
description = "Page d'édition d'un Post"
is_hidden = 0
show_menu = 0

[blogPost]
slug = "{{ :slug }}"
categoryPage = "t/ob-2-category"
==
<div class="container">
  
  <h1><a href="/t/ob-2">Blog</a></h1>

  {% component 'blogPost' %}

</div>