title = "OB-6"
url = "/t/ob-6"
layout = "basic"
description = "Static Pages"
==
<div class="container">

  <h1>Building client-friendly websites</h1>

  <p>Site démo RainLab.Relax</p>

  <p>Gestion des pages statiques avec permissions adaptées Client dans le BE</p>

  <p>Utilisation de tagline & fragments</p>

</div>