title = "OB-8"
url = "/t/ob-8"
layout = "basic"
description = "Media Manager Introduction"
==
<div class="container">

  <h1>Media Manager Introduction</h1>

  <p>Title : {{ this.page.description }}</p>

  <p>Basics of the Media Manager</p>

</div>