title = "OB-9"
url = "/t/ob-9"
layout = "basic"
description = "Une page pour translation"
is_hidden = 0
show_menu = 0

[localePicker]
forceUrl = 0
==
use Backend\Models\User;
function onStart(){
  $user = User::first();
  $var = [1,2,3];
  $var['name'] = $user->first_name . ' ' . $user->last_name;

  $this['result']=print_r($var, true);
}
==
<div class="container">

  <h1>Translations</h1>
  
  <h3>{{ 'Please select your language:'|_ }}</h3>
  {% component 'localePicker' %}
  
  <p>
    {{ 'Switch language to:'|_ }}
    {% if activeLocale == 'fr' %}
    <a href="#" data-request="onSwitchLocale" data-request-data="locale: 'en'">English</a>,
    {% else %}
    <a href="#" data-request="onSwitchLocale" data-request-data="locale: 'fr'">Français</a>
    {% endif %}
  </p>

  <hr>

  <h2>{{ 'Welcome to our website!'|_ }}</h2>

  {{ 'Hello :name!'|_({ name: 'Friend' }) }}<br>

  {# {{ 'There are no apples|There are :number applies!'|__(5, { number: 1 }) }} #}


  {{ 'There are no apples|There are :number apples!'|__(5, { number: 2 }) }}<hr>


  {% set mp = 'Ok' %}
  {{ m ?: 'm est indéfinie (Opération ternaire)'|_ }}
  
  <pre>
      {{ result }}
  </pre>

</div>