[viewBag]
title = "Shovel"
url = "/shovel"
layout = "prod-layout"
is_hidden = 0
navigation_hidden = 0
==
{% put ordering %}
<p>Process de commande...</p>

{% endput %}

{% put delivery %}
Conditions de livraison
{% endput %}
==
<h1>Super Shovel</h1>

<p>Lorem, ipsum dolor sit amet consectetur adipisicing elit<span>.</span> Ad quo natus id, expedita maxime dicta<span>.</span> Fugit nesciunt sint deleniti ad<span>.</span></p>