title = "Accueil"
url = "/"
layout = "default"
description = "List of books"
is_hidden = 0
==
<?php

use GC7\Librairy\Models\Book;

function onStart(){
    $this['books']=Book::all();
}

?>
==
{% put pageTitle %}
    Page d'accueil
{% endput %}

{# <div class="flex flex-col mt-1 box-border min-w-full border-0 border-solid border-red-500 overflow-x-hidden overscroll-none"> #}
<div class="flex flex-col mt-1 box-border min-w-full">
    <div class="-my-2 overflow-x-auto sm:-mx-6 lg:-mx-8">
        <div class="py-2 align-middle inline-block min-w-full sm:px-6 lg:px-8">
            <div class="shadow overflow-hidden border-b border-gray-200 sm:rounded-lg">

                <table class="min-w-full divide-y divide-gray-300 box-border overscroll-none">
                    <thead class="bg-gray-50">
                    <tr>
                        <th scope="col" class="px-3 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Titre</th>
                        <th scope="col" class="px-3 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Date de publication</th>
                        <th scope="col" class="relative px-6 py-3"><span class="sr-only">Edit</span></th>
                    </tr>
                    </thead>

                    <tbody class="bg-white divide-y divide-gray-200">

                    {% for book in books %}

                        <tr class='bg-gray-200'>
                            <td class='px-3 py-1 whitespace-nowrap'>{{ book.title }}</td>
                            <td class='px-3 py-1'>{{ book.publication_year }}</td>
                            <td></td>
                        </tr>

                    {% endfor %}

                    </tbody>

                </table>

            </div>
        </div>
    </div>
</div>
