/.phpintel
.phpintel/index
composer.lock
/node_modules
/storage/*.key
/storage
/.idea
/.vagrant

Homestead.json
Homestead.yaml
npm-debug.log

.env
.env.local
.env.c57.fr

storage/debugbar/
storage/iframework/sessions/

storage/logs/laravel
