<? //=$widget->render() 
?>

<hr>
<h1>Images du dossier assets/images</h1>
<?php
foreach ($files as $file)
{
  ?>
<h3><?= $file ?></h3>
<img src="/themes/gc000/assets/images/<?= $file ?>" alt=""><br>

<?php
}
?>