/* Config from Backend */
body {
  background-color: $zw-bg-color-bg-one;
  background-image: url(../themes/zwiebl_stellar/assets/css/images/overlay.png), -moz-linear-gradient(45deg, $zw-bg-color-bg-two 15%, $zw-bg-color-bg-one 85%);
  background-image: url(../themes/zwiebl_stellar/assets/css/images/overlay.png), -webkit-linear-gradient(45deg, $zw-bg-color-bg-two 15%, $zw-bg-color-bg-one 85%);
  background-image: url(../themes/zwiebl_stellar/assets/css/images/overlay.png), -ms-linear-gradient(45deg, $zw-bg-color-bg-two 15%, $zw-bg-color-bg-one 85%);
  background-image: url(../themes/zwiebl_stellar/assets/css/images/overlay.png), linear-gradient(45deg, $zw-bg-color-bg-two 15%, $zw-bg-color-bg-one 85%);
}

.button.special {
  background-color: $zw-button-bg !important;
}

/* Responsive */
@media screen and (max-width: 360px) {
  #nav {
    max-width: 100%;
  }
}

@media screen and (max-width: 736px) {
  #nav {
    display: block;
    max-width: calc(100% - 2em);

  }
}
@media screen and (min-width: 480px) and (max-width: 736px) {
  #nav {
    max-width: calc(100% - 4em);
  }
}