description = "Dev layout"

[homeD]
==
<?php
function onStart(){

    // Pour tuer le cash en prod
    \Artisan::call('cache:clear');
    \Artisan::call('view:clear');

    $this['snl'] = $_SERVER['HTTP_HOST'];
    // \Debugbar::enable();
    \Debugbar::disable();
    // $gc7 = Debugbar::addCollector(new DebugBar\DataCollector\MessagesCollector('gc7'));
    // $gc7['gc7']->info ( 'Server Name: ' . $this['snl'] );
    // info('ok');
}
?>
==
<!DOCTYPE html>
<html lang="fr">

<head>

  <meta charset="utf-8">
  <title>
    {{ snl == 'c57' ? 'L/' }} 000 | {{ this.page.title }}
  </title>
  {% if this.page.__isset('title') and this.page.title is not empty %}
  <meta name="title" content="{{ this.page.title }}">
  {% endif %}
  {% if this.page.__isset('meta_description') and this.page.meta_description is not empty %}
  <meta name="description" content="{{ this.page.meta_description }}">
  {% endif %}
  <meta name="author" content="LC">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="generator" content="GC7">
  <link rel="icon" type="image/png" href="{{ 'assets/images/favicon.ico'|theme }}" />
  <link href="{{ [
      "assets/css/bootstrap.4_3_1.min.css",
      "assets/css/demo.css",
      "assets/css/dev.css"
  ]|theme }}" rel="stylesheet">

  {% placeholder head %}
  {% styles %}

</head>

<body>
  {% component 'homeD' %}
  {% flash %}

  <!--- 2do idem tutosLayout => HomeT -->

  <p data-control="flash-message" class="flash-message fade {{ type }}" data-interval="15">
    {{ message }}
  </p>
  {% endflash %}

  <section id="layout-content">
    {% page %}
  </section>

  <script src="{{ [
  'assets/js/jq341.min.js',
  'assets/js/popper_1_14_7.min.js',
  'assets/js/b4_4_3_1.min.js',
  'assets/js/fontawesome.js'
] | theme }}"></script>

  <script src="{{ 'assets/js/app.js' | theme }}"></script>

  {% framework extras %}
  {% scripts %}

</body>

</html>