description = "Tutos layout"

[homeD]
==
<?php
function onStart(){
    $this['snl'] = $_SERVER['HTTP_HOST'];
    //$gc7 = Debugbar::addCollector(new DebugBar\DataCollector\MessagesCollector('gc7'));
    //$gc7['gc7']->info ( 'Server Name: ' . $this['snl'] );
}
?>
==
<!DOCTYPE html>
<html lang="fr">

<head>

  <meta charset="utf-8">
  <title>
    {% if (snl == 'p' or snl == 'p') %}
    L/ {% endif %}
    000 | {{ this.page.title }}
  </title>
  {% if this.page.__isset('title') and this.page.title is not empty %}
  <meta name="title" content="{{ this.page.title }}">
  {% endif %}
  {% if this.page.__isset('meta_description') and this.page.meta_description is not empty %}
  <meta name="description" content="{{ this.page.meta_description }}">
  {% endif %}
  <meta name="author" content="LC">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="generator" content="OctoberCMS">
  <link rel="icon" type="image/png" href="{{ 'assets/images/favicon.ico'|theme }}" />

  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css"
    integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">

  <link href="{{ [
      "assets/css/bootstrap.4_3_1.min.css",
      "assets/css/demo.css"
  ]|theme }}" rel="stylesheet">

  {% placeholder head %}
  {% styles %}

</head>

<body>

  <header id="layout-header">
    <nav class="navbar navbar-expand-md navbar-dark bg-dark">
      <a class="navbar-brand {% if this.page.title == "Accueil" %}active{% endif %}" href="/"></a>
      <!-- {{ this.theme.getConfigValue('name')|capitalize }} -->
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="{% if this.page.title == 'D' %}active{% endif %}" href="/d" id="lienTests">Démos</a>
        </li>
      </ul>

      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample03"
        aria-controls="navbarsExample03" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarsExample03">

        <ul class="navbar-nav ml-auto">

          <li class="{% if this.page.title == "Accueil" %}active{% endif %}"><a class="nav-link"
              href="/">{{ this.theme.getConfigValue('name')|capitalize }}</a>
          </li>
          {% verbatim %}

          <li class="nav-item">
            <a target="_blank" href="/themes/gc000/a" title="Page pour tests rapides">A</a>
          </li>
          {% endverbatim %}

          {#
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="dropdown03" data-toggle="dropdown" aria-haspopup="true"
              aria-expanded="false">Dropdown</a>
              <div class="dropdown-menu" aria-labelledby="dropdown03">
              <a class="dropdown-item" href="#">Action</a>
              <a class="dropdown-item" href="#">Another action</a>
              <a class="dropdown-item" href="#">Something else here</a>
            </div>
          </li>
          #}


          <li class="nav-item {% if this.page.title == 'Ajax' %}active{% endif %}">
            <a class="nav-link" href="{{ 'ajax'|page }}">Ajax</a>
          </li>
          <li class="nav-item {% if this.page.title == 'AjaxJS' %}active{% endif %}">
            <a class="nav-link" href="{{ 'ajaxjs'|page }}">AjaxJS</a>
          </li>
          <li class="nav-item {% if this.page.title == "Tools Vue.J" %}active{% endif %}">
            <a class="nav-link" href="{{ 'tools/vuejs-commits'|page }}">VueJS</a>
          </li>
          <li class="nav-item {% if this.page.title == 'Form' %}active{% endif %}">
            <a class="nav-link" href="{{ 'form'|page }}">Form</a>
          </li>
          <li class="nav-item {% if this.page.title == 'Google' %}active{% endif %}">
            <a class="nav-link" target="_blank" href="{{ 'google'|page }}">Google</a>
          </li>
          <li class="nav-item {% if this.page.title == 'Videos' %}active{% endif %}">
            <a class="nav-link" href="{{ 'divers/videos'|page }}">Vidéos</a>
          </li>
          <li class="nav-item {% if this.page.title == 'Pad' %}active{% endif %}">
            <a class="nav-link" href="{{ 'tools/pad'|page }}">Pad</a>
          </li>
        </ul>

        {#
        <form class="form-inline my-2 my-md-0">
          <input class="form-control" type="text" placeholder="Search">
        </form>
      #}
      </div>
    </nav>
  </header>

  <!-- 2do here homeT (pris du partial layouts-header - Ne s'afffiche pas ds 000 -->
  {% if this.page.title != 'D' %}
  {% component 'homeD' %}
  {% endif %}

  <!-- Content -->
  <section id="layout-content">
    {% page %}
  </section>

  {#
    #}

  <!-- Footer -->
  <footer id="layout.footer">
    {% partial "layouts/footer" %}
  </footer>

  <!-- Scripts -->

  <script src="{{ [
    'assets/js/jq341.min.js',
    'assets/js/popper_1_14_7.min.js',
    'assets/js/b4_4_3_1.min.js',
    'assets/js/fontawesome.js',
    'assets/js/app.js'
  ] | theme }}"></script>

  {% framework extras %}
  {% scripts %}

</body>

</html>
