body {
  color: #555;
  font-family: Raleway, rial, sans-serif;
  font-size: 1.5em;
}
.navbar-static-top {
  margin-bottom: 19px;
}
.justify {
  text-align: justify;
}
.mynav {
  margin: 0 0 0;
  padding: 0 10px;
  /*border: 1px solid red;*/
  height: 5px;
  font-size: 20px;
}
.links > a {
  color: #636b6f;
  padding: 0 5px;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: .1rem;
  text-decoration: none;
  text-transform: uppercase;
}
.petit.links > a:visited > button,
.petit.links > a > button {
  color: cornsilk;
  font-style: italic;
  font-size: 15px;
  text-transform: none;
  text-decoration: none;
  padding-bottom: 0;
  padding-top: 0;
  margin-bottom: 15px;
}
.noDeco {
  list-style: none;
  padding: 7px 20px 3px;
}
a {
  cursor: pointer;
}
a:hover {
  text-decoration: none;
}
h1 .mini {
  display: block;
  margin-left: 10px;
  font-size: 15px;
  font-style: italic;
  color: red;
}
.jumbotron.contenu {
  margin: 0;
  padding: 10px 20px;
}
.pager {
  margin-top: 15px;
  text-align: center;
}
