<form data-request="onDoSomething" data-request-validate data-request-flash>

  <div class="alert alert-danger" data-validate-error>
    <p data-message></p>
  </div>

  <div>
    <input name="name" />
    <span data-validate-for="name"></span>
  </div>

  <div>
    <input name="email" />
    <span data-validate-for="email"></span>
  </div>

  <button data-attach-loading>
    Submit
  </button>

</form>

{% put scripts %}
<script>
  $(function() {
    console.log('Oki');
  });
</script>
{% endput %}

<style>
  span[data-validate-for] {
    display: block;
    color: red;
  }
</style>
