$cheminImages: "/themes/c57/assets/images/";
$coulTitres: #b5e853;


body {
  margin: 0;
  padding: 0;
  background: #151515 url("../../images/bkg.png") 0 0; // background: #150000 url("../../images/bkg.pngo") 0 0;
  color: #eaeaea;
  font-size: 16px;
  line-height: 1.5;
  font-family: Monaco, "Bitstream Vera Sans Mono", "Lucida Console", Terminal, monospace
}

a {
  &:not(.nofd) {
    color: cyan!important;
    background-color: #111;
  }

  &:hover {
    color: rgb(174, 252, 255);
    text-decoration: none;
  }
}

#blocLogo {
  display: flex;
  justify-content: space-around;
  flex-flow: row wrap;
  align-items: center;
  background-color: #333;
  border-radius: 7px;
  width: 97%;
  max-width: 1200px;
  margin: 0 auto 1em;
  padding: 1rem;

  h1,
  h2 {
    text-align: center;
  }

  h2 {
    //padding: 20px 100px;
    font-style: italic;
  }

  #logo {

    //font-size: 1em;
    //line-height: 1;
    //color: red;
    //width: 100%;
    //border: 1px solid yellow;
    //border-radius: 7px;
    //background: url("../../images/logo_150x93_c7.png") no-repeat;
    @media only screen and (max-width: 900px) {
      background-size: 7em;
    }
    @media only screen and (max-width: 700px) {
      background-size: 5em;
      background-position: 10px 70%;

      h1 {
        font-size: 2rem;
      }
    }
    @media only screen and (max-width: 600px) {
      background-position: 10px 70%;
      background-size: 3em;

      h1 {
        font-size: 1.5rem;
      }
    }
    @media only screen and (max-width: 500px) {
      background-position: 10px 70%;
      background-size: 2em;

      h1 {
        font-size: 1.2rem;
      }
    }
  }

  #titre {

    //vertical-align: middle;
    h1 a {
      text-decoration: none;
      color: $coulTitres;
    }

    h2 a {
      color: inherit;
      font-weight: normal;
      text-decoration: none;
      text-shadow: none;
      transition: 7s;

      &:hover {
        //color: inherit;
        color: red;
        text-shadow: 0 0 5px $coulTitres;
        transition: .7s;
      }
    }
  }

  #boutons {
    text-align: center; //border: 1px solid red;

    //margin: 2em;
    //padding: 200px;
    .btn-download .icon {
      opacity: .9;
      background: url($cheminImages + "download.png") 0 0 no-repeat;
      height: 16px;
    }

    .btn-gh-edit .icon {
      opacity: .9;
      background: url($cheminImages + "edit.png") 0 0 no-repeat;
    }

    a {
      display: block; //padding: 30px;
      width: 130px;
      color: #0f0; //padding: 0;
      margin: 5px 0;
    }
    @media only screen and (max-width: 587px) {
      background-size: 7em; //border: 2px solid yellow;

      a {
        display: inline-block;
      }
    }
  }
}

.breadcrumbs {
  background-color: #222;
  padding: .2em .5em;

  .breadcrumb-item+.breadcrumb-item::before {
    padding-right: 0;
  }

  & a {
    color: rgb(0, 247, 255);
  }

  & a:hover {
    color: rgb(174, 252, 255);
    text-decoration: none;
  }
}

.navbar {
  color: red;
  margin-top: 10px;
  box-shadow: 5px 4px 5px rgb(107, 0, 0);
}

.mask {
  border: 0;
  // background-color: rgba(255, 255, 255, 1);
  border: 1px solid red;
  text-align: right;
  display: block;
  width: 10px;
}

a.btn-bouee-16 {
  .icon {
    opacity: .9;
    background: url($cheminImages + "bouee-16.png") 0 0 no-repeat;
  }

  color: #eee;
  text-decoration: none;
}

footer {
  margin-top: 20px;
  padding-top: 10px;
  border-top: 1px dashed #b5e853;

  div {
    font-size: .8em;
    padding: 0;
    width: 97%;
    max-width: 1000px;
    margin: 0 auto 40px;
  }
}

/*
$couleur: rgb(21, 255, 21);

p {
  color: $couleur;
}
*/

.pageDoc h3+p {
  padding-left: 2em;
}

.tac {
  text-align: center;
}

#doc {
  padding-bottom: 0;
}

li .active {
  color: red;
  background-color: rgb(6, 55, 129);
  border-radius: 7px;
  padding: 0 10px;
}

.red {
  color: red;
}

table,
td,
td {
  background-color: #000;
}

.tar {
  text-align: right;
}

.w1 {
  width: 30px;
}

.essai {
  div:not(.nocadre) {
    max-height: 1000px;
    // width: 200px;
    // height: 100px;
    margin: 1px;
    border: 3px solid orange;
  }
}

.callout {
  color: lime;
  background-color: #000;
  border-radius: 7px;
  border: 3px solid orange;

  &.subheader {
    color: #777;
  }

}

.mt10 {
  margin-top: 10px;
}

.mt20 {
  margin-top: 20px;
}

.mt30 {
  margin-top: 30px;
}

.docc57 {
  td,
  tr {
    color: orange;
    padding: 0 !important;
  }

}

.asterisque {
  tbody {
    border: 0;
  }
  td {
    background-color:#111;
    padding: 0 5px!important;
    &:first-child{
      width:40px;
    }
  }

}

.accordion {
  background-color: #000;

  ol > p,
  ul > p {
    border-bottom: 1px dashed #aaa;
    margin-left: -1rem;
    margin-top: .7rem;
  }
}

.bordered {
  text-align: right;
  border: 1px solid #000;
}
