//
// Layouts
//
// Styles specific to different page layouts.
//

// Used by the fixed navigation

header#layout-header {
  .navbar-brand {
    width: 50px;
    height: 40px;
    // border: 1px solid #f00;
    // padding-left: 70px; /* Si on veut le ,nom du site */
    background-image: url('../../images/logo_150x93_c7.png');
    background-size: auto 77%; /* 90% */
    background-repeat: no-repeat;
    background-position: 0 50%;
  }
}

#footergc7 {
  margin-top: -10px;
  font-size: .9em;
  color: grey;

  p {
    margin: 0;
    //line-height: normal;

    a.noDeco {
      color: grey;
      text-decoration: none;
    }
  }
}

.rouge {
  color: red;
}
