title = "AjaxJS"
url = "/ajaxjs"
layout = "basic"
description = "Ajax avec JS API"
is_hidden = 0
meta_title = "Titre AjaxJS" 
meta_description = "Ajax Test2"
==
<?php
function onHandleForm()
{
    /* Something server-side code */
    return
      [
        'totalUsers' => 2303,
        'totalProjects' => 937,
        '(Exemple de données initialisées en début de code dans page ajaxjs)', '(Mais affichées qu\'à l\'issue de la requête Ajax)'
      ];
}
?>
==
<div class="container">
  <div class="row">
    <div>
      <h1>Ajax 100% JS (API)</h1>
      <p>Usage Ajax avec Javascript API (Plus puissant)</p>
    </div>
  </div>
</div>

<div class="container">
  <div class="panel panel-default">
    
    <div class="panel-heading">
      <h3 class="panel-title">Simple Ajax</h3>
    </div>
    <!--data-request-confirm="Sûr ?"-->
    <!--data-request-success="alert('Yay!')"-->
    
    <div class="panel-body">
      <form onsubmit="$.oc.stripeLoadIndicator.show(event);
      $(this).request('onHandleForm',
        { success:  function(data) {
                      console.log(data);
                      $('#commentresult').html('Cette fois, okay... Posé après la réponse de la requête <strong>Ajax</strong> (En jQuery)');
                      $('button').hide();
                      $('#resultcalc').hide();
                      $.oc.stripeLoadIndicator.hide();
                      $alafin();
                    }
        }
    ); return false;">
    
        <button type="submit" class="btn btn btn-primary">Action !</button>
      </form>
    </div>
    
    <div class="panel-footer" id="resultcalc">
      Clic the Action button...
    </div>
    
    <div class="panel-body log">En attente...</div>

    <div class="panel-footer" id="commentresult"></div>
  </div>
</div>

<div class="container">
  <!--<p>1 ligne de code HTMl !</p>-->
</div>

<div class="log2"></div>
<div class="result"></div>

{% put scripts %}


<script>
  
  $(document).ready(function() {
    $("#commentresult").html(
      "Ok, 'posé' par <strong>Jquery</strong> (En fin de chargement de la page)"
    );
    console.log("Oki: " + "2 + 3 = " + (2 + 3));

    /*
      $.request('onAjaxBeforeSend', {
        flash: 1,
        handleFlashMessage: function(message, type) {
          $.oc.flashMsg({ text: message, class: type })
        }
      })
    */
    
    $alafin = function () {
            
      $(".log").html("Réponse de la requête Ajax (effectuée avec succès)<hr>Now, try the... <div class='trigger'>... <span style='cursor: pointer'>Trigger</span></div>");
      
      $( ".trigger" ).on( "click", function() {
        $( ".result" ).load( "ajaxjs" );
      });
      
      $( document ).ajaxSuccess(function( event, xhr, settings ) { // 
        if ( settings.url == "ajaxjs" ) {
          $( ".log2" ).html( "Triggered ajaxSuccess handler. The Ajax response was:<br><br>" +
            xhr.responseText );
        }
      });      
      
      console.log("Ajax updated!");
    };
    
  });
</script>
{% endput %}
