[viewBag]
title = "GitLab"
url = "/doc/outils/gitlab"
layout = "doc"
is_hidden = 0
navigation_hidden = 0
==
<h1><img src="./../../../../a/img/logo_gitlab.png" alt="logo Gitlab" width="50"> GitLab</h1>
<section>
    <a href="https://gitlab.com/users/sign_in?redirect_to_referer=yes" rel="noopener noreferrer" title=" Site Web de GitLab " target="_blank">Avoir un compte
        <strong>G</strong>it<strong>L</strong>ab</a>

    <a alt=" Vidéo installation AMPPS " href="https://www.youtube.com/watch?v=Vqh_rFm_PcM&list=PL9DeR6N_lL9zdwkF7X5xsjGwIr8ZnotjP&index=4" target="_blank" title=" Cliquer pour voir la

       Vidéo sur GL "><img src="/storage/app/media/uploaded-files/linux_logo.png" style="height: 40px;"></a>

    <a href="http://c57.fr/storage/app/media/FormationC57/gitlab_register.png" title=" Capture pour s'enregistrer dans Gitlab

       Cliquer dessus pour agrandir " alt=" Capture pour s'enregistrer dans Gitlab " target="_blank"><img src="http://c57.fr/storage/app/media/FormationC57/gitlab_register.png"/></a>
    
       <div class="tac">
           <br>▼
        </div>
    </section>
    
    <section>
        <img src="http://c57.fr/storage/app/media/FormationC57/confirm_gl.png">
    </section>

    <section class="tac">
        <br>* * * * *<br><br>
        <img src="../../../../a/img/git_important.jpg" alt="" width="300px">
    </section>
