[viewBag]
title = "TàF"
url = "/doc/taf"
layout = "doc"
meta_description = "Liste des <mark>T</mark>âches <mark>à</mark> <mark>F</mark>aire - Idées diverses à retenir"
==
function onStart(){
    $this->msg = 'Ok';
}
==

2do Placer (avec typo Fdtn) dans arborescence de la doc :

<h1>Glossaire</h1>
<ol>

    <li><strong>Doc</strong> Pages de la <strong>Doc</strong>umentatio de c57.fr/doc</li>
    <li><strong>GH</strong> <strong>G</strong>it<strong>H</strong>ub</li>
    <li><strong>GL</strong> <strong>G</strong>it<strong>L</strong>ab</li>
    <li><strong>GLO</strong> <strong>Glo</strong>ssaire de c57</li>
    <li><strong>GK</strong> <strong>G</strong>it<strong>K</strong>raken</li>
    <li><strong>PR</strong> <em><strong>P</strong>ull <strong>R</strong>equest</em> Demande de fusion</li>
    <li><strong>MAN</strong> <strong>M</strong>ise <strong>à</strong> <strong>N</strong>iveau : Dans GL, double clic sur le dépôt le plus haut, et y faire glisser votre branche, puis 'Fast-forward'</li>
    
</ol>