[viewBag]
title = "Tutos"
url = "/doc/outils/tutos"
layout = "doc"
is_hidden = 0
navigation_hidden = 0
==
<!-- 2do Change url = doc/tutos -->
<h2>Tutos recommandés FR<span class="subheader">*</span></h2>

<h3>Base des outils</h3>
<p><a href="/doc/outils">Page Outils de la présente Doc (C57)
<br>
(11 leçons - 9H21 de vidéos)</a></p>


<h3>HTML</h3>
<ol>
  
  <li><a href="https://www.grafikart.fr/formations/html" target="_blank">Formation HTML</a> (GrafikArt)<br>
  (16 leçons - 3H38 de vidéos)</li>

</ol>

<p>TVC<span class="subheader">**</span>: <a href="https://www.codingame.com/playgrounds/35475/exercices-html/introduction" target="_blank">Avec CodinGame</a></p>


<h3>CSS / SASS / Exemples</h3>

<ol>
    
    <li><a href="https://www.grafikart.fr/tutoriels/css" target="_blank">Formation CSS</a> (GrafikArt)<br>
    (28 leçons - 12H52 de vidéos)</li>

    <li><a href="https://code.tutsplus.com/fr/tutorials/the-30-css-selectors-you-must-memorize--net-16048" target="_blank">Les 30 selecteurs CSS à connaitre</a></li>
    
    <br>

    <li>
        <a href="https://www.grafikart.fr/tutoriels/sass" target="_blank">Formation SASS de GrafikArt</a>
    </li>

    <br>

    <li>
        <a href="https://www.youtube.com/watch?v=R8z8R7k2IzE&amp;list=PLwLsbqvBlImHAT6eA11g56NmqSSxxUT3I" target="_blank">Exemple de réalisation d&apos;un menu</a> (P. Giraud)
    </li>

</ol>

<p>TVC: <a href="https://www.codingame.com/playgrounds/36092/exercices-css/introduction" target="_blank">Avec CodinGame</a></p>


<h3>JS / jQuery</h3>

<ol>
    
    <li><a href="https://fr.eloquentjavascript.net/contents.html" target="_blank">JavaScript Éloquent</a></li>

    <li><a href="https://www.pierre-giraud.com/javascript/cours-complet/javascript-presentation.php" target="_blank">Cours complet</a> (P. Giraud)</li>

    <br>

    <li><a href="https://www.pierre-giraud.com/javascript/jquery/jquery-introduction.php" target="_blank">Introduction au jQuery</a> (P. Giraud)</li>
    

    <li><a href="https://www.grafikart.fr/tutoriels/jquery" target="_blank">Ensemble de tutoriels jQuery</a> (GrafikArt)</li>
    
</ol>


<h3>PHP/MySQL / Laravel</h3>

<ol>

  <li><a href="http://phpdebutant.org/" target="_blank">PHP Débutant</a></li>

  <li><a href="https://www.pierre-giraud.com/php-mysql/cours-complet/cours-php-mysql-presentation.php" target="_blank">Cours complet</a> (P. Giraud)</li>

  <li><a href="https://apprendre-php.com/tutoriels.html" target="_blank">Cours complet dont POO</a> (Emacs)</li>
  
  <br>

  <li><a href="https://maurice-chavelli.developpez.com/tutoriels/laravel-5-5/les-bases" target="_blank">Les bases de Laravel</a> (BestMomo)</Li>

  <li><a href="https://laravel.sillo.org/laravel-5-7-par-la-pratique-introduction" target="_blank">Exemple par la pratique</a> (BestMomo)</li>

</ol>
  

<h3>Divers</h3>

<ol>

  <li>Regex: <a href="https://medium.com/factory-mind/regex-tutorial-a-simple-cheatsheet-by-examples-649dc1c3f285" target="_blank">(EN) Regex</a><br>

  <a href="https://regex101.com" target="_blank">Outil d&apos;aide à la création</a></li>

</ol>

<p>TVC: Multiples langages <a href="https://www.codingame.com/ide/puzzle/onboarding" target="_blank">avec CodinGame</a> (EN)</p>


<br>

<table class="asterisque subheader">
	<tbody>
		<tr>
			<td class="text-right">*: </td>
			<td>Sinon, "(EN)" précisé</td>
		</tr>
		<tr>
			<td class="text-right">**: </td>
			<td>Testez vos connaissances</td>
		</tr>
	</tbody>
</table>
