description = "Base default layout"

[session]
security = "all"

[headAssets]
==
<!doctype html>
<html lang="en">
    {% partial 'shared/head' %}
<body class="font-sans">
    {% partial 'shared/header' %}
    <main>
        {% page %}
    </main>
    {% partial 'shared/footer' %}
</body>
</html>
