description = "Boostrap layout"

[session]
security = "all"

[headAssets]
==
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@300;400&family=Lato:wght@300;400&display=swap" rel="stylesheet">
    <title>Olympos | {{ this.page.id|capitalize }}</title>
        <link rel="icon" type="image/png" href="{{ 'assets/images/favicon.ico'|theme }}">
        {% styles %}
        <link rel="stylesheet" href="../../themes/gc7/assets/css/bootstrap.min.css">
    {% component 'headAssets' %}
</head>
<body class="font-sans">

    {% partial 'shared/nav' %}

    <main>
        {% page %}
    </main>

    {% partial 'shared/footer' theme = 'Bootstrap' %}

    <script src="{{
  [
    'assets/js/jquery.js',
  ]
  |theme }}"></script>
    <script src='../../themes/gc7/assets/js/bootstrap.bundle.min.js'></script>


    <script type="text/javascript">

    jQuery(document).ready(function ($) {

      $('.contact-form').on('ajaxError', function (event, message) {
        $('.flash').removeClass('active');
        $('.flash.error').addClass('active');
      });

      $('.contact-form').on('ajaxSuccess', function (event, message) {
        $('.flash').removeClass('active');
        $('.flash.success').addClass('active');
      });
    });

  </script>
{% framework extras %}
{% scripts %}
</body>
</html>
