description = "Semantic layout"

[headAssets]
==
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <title>Olympos | {{ this.page.id|capitalize }}</title>
    <link rel="icon" type="image/png" href="{{ 'assets/images/favicon.ico'|theme }}">
    {% styles %}
    <link rel="stylesheet" href="{{ 'assets/css/semantic.min.css'|theme }}">
    {% component 'headAssets' %}
</head>
<body class="font-sans">

    {% partial 'shared/nav' %}
    
    <main>
        {% page %}
    </main>

    <hr class="mt-5">


    <script src="{{
  [
    'assets/js/jquery.js',
    'assets/js/semantic.min.js',
    'assets/js/app.js'
  ]
  |theme }}"></script>

  {% partial 'shared/footer' theme = 'Semantic' %}

    <script type="text/javascript">

    jQuery(document).ready(function ($) {

      $('.contact-form').on('ajaxError', function (event, message) {
        $('.flash').removeClass('active');
        $('.flash.error').addClass('active');
      });

      $('.contact-form').on('ajaxSuccess', function (event, message) {
        $('.flash').removeClass('active');
        $('.flash.success').addClass('active');
      });
    });

  </script>
{% framework extras %}
{% scripts %}
</body>
</html>
