description = "Static Pages layout"

[session]
security = "all"

[staticPage]
useContent = 1
default = 0

[staticMenu staticMenu2]
code = "footer-menu"

[staticMenu]
code = "header-menu"
==
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Winter CMS - {{ this.page.title }}</title>
        <meta name="description" content="{{ this.page.meta_description }}">
        <meta name="title" content="{{ this.page.meta_title }}">
        <meta name="author" content="Winter CMS">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="generator" content="Winter CMS">
        <link rel="icon" type="image/png" href="{{ 'assets/images/winter.png'|theme }}">
        <link href="{{ [
            'assets/css/vendor.css',
            'assets/css/theme.css'
        ]|theme }}" rel="stylesheet">
        {% styles %}
    </head>
    <body>

        <!-- Header -->
        <header id="layout-header">
            <div class="container clearfix">
                <h1 class="logo">Movies</h1>
                <nav class="main-nav">
                    {% component 'staticMenu' %}
                </nav>
            </div>
        </header>

<hr>

        <!-- Content -->
        <section id="layout-content" class="container clearfix">
            <h1>{{ this.page.title }}</h1>
            {% page %}
        </section>

<hr>

        <!-- Footer -->
        <footer id="layout-footer">
            <div class="container">
                <nav class="footer-menu">
                    {% component 'staticMenu2' %}
                </nav>
            </div>
        </footer>

        <!-- Scripts -->
        <script src="{{ 'assets/vendor/jquery.js'|theme }}"></script>
        <script src="{{ 'assets/vendor/bootstrap.js'|theme }}"></script>
        <script src="{{ 'assets/javascript/app.js'|theme }}"></script>
        {% snowboard all %}
        {% scripts %}

    </body>
</html>