[viewBag]
title = "Home"
url = "/"
layout = "home"
is_hidden = 0
navigation_hidden = 0
==
{% put news %}
<h3>Latest news</h3>
<figure class="fr-draggable" contenteditable="false" data-inspector-css-class="hero" data-name="Latest News" data-snippet="news" data-ui-block="true" draggable="true" tabindex="0">&nbsp;</figure>
<p><a href="blog">View all news and announcements</a></p>
{% endput %}

{% put login %}
<h3>Customer Sign in</h3>

<p>Sign in to view prices and instructions.</p>
<figure class="fr-draggable" contenteditable="false" data-inspector-css-class="hero" data-name="Sign in module" data-snippet="login-module" data-ui-block="true" draggable="true" tabindex="0">&nbsp;</figure>

{% endput %}
==
<h3>About</h3>

<p>You can easy relax with House of Chairs. We have been selling chairs for over 40 years.</p>

<p>We are recognised for our quality and commitment to others when providing high quality chairs.</p>

<p>We won't stuff you around and have respect for your rear end.</p>