title = "Accueil"
url = "/"
layout = "une"
is_hidden = 0
==
<?php
function onStart() {
 // ici code d'import du css + js de bootstrap juste pour cette page
 $this->addJs('themes/c57/assets/js/homepage.js');

//$this['lienDiscord'] = '<p><a href="https://discordapp.com/channels/423853760939556865/487927880035336212" target="_blank" title="Venez discuter en live">Canal Discord de c57</a></p>';
}
?>
==
{# <div class="bg-gradient-to-r from-cyan-500 to-blue-500 p-4 text-center">
    <p class="text-xl font-bold mb-3">C57</p>
    <hr>
    <p class="mt-3">Vite + TailwindCss</p>
</div> #}

{% partial 'une/main' %}
