//
// Pages
//
// Styles specific to individual pages.
//

.blocVideo img,
.blocVideo iframe {
  vertical-align: 50%;
  margin: 4px 10px;
}

.post-list {
  list-style: none;
}

#dnp {
  margin-top: 20px;
  padding-top: 20px;
}
