{% if movies|length %}

    <p class="text-gray-500 font-bold">{{ movies.total }} movie{{ (movies.total > 1) ? 's' : '' }}</p>

    {% for movie in movies %}

        <div class="ui segment vertical">

            <h3 class="ui header"><a href="movie/{{movie.slug}}">{{movie.title}}</a></h3>

            <div class="ui">
                {{ movie.year }}
            </div>

            <div class="ui segment">
                <ul class="ui bulleted horizontal list">
                    {% for genre in movie.genres %}
                        <li class="item">{{ genre.name }}</li>
                    {% endfor %}
                </ul>
            </div>

        </div>

    {% endfor %}

{% else %}

    <div class="text-center ui message">
        <p>
            There are no movies that match the criteria.
        </p>
    </div>

{% endif %}
