description = "Pied de page GC7"

[viewBag]
snippetCode = "footer"
snippetName = "Footer"
==
<div id="footergc7">
    <div class="container" style="text-align : center">
        <p class="muted credit">&copy; <b>Groupe COTE</b> - {{ "now"|date("Y") }} LC. - 2, allée des Roses - F <b>59</b>
            410 <b>ANZIN</b> - <span class="text-nowrap">Tél: 07 83 59 27 21</span></p>
        <p><b>COTE</b> - R.C.S. 378 333413 Valenciennes - Siret: ~00060 - N.A.F. 4791 A - <span class="text-nowrap">T.V.A. IntraComm.&nbsp;FR50&nbsp;378333413</span>
        </p>
        <p><a href="/be" target="_blank" class="noDeco"><b>B</b>ureau</a> d'<a
            href="https://github.com/GrCOTE7/OctoberCMS000" target="_blank" class="noDeco"><b>É</b>tudes</a>
            & d'<a href="/be" target="_blank" class="noDeco"><b>B</b>ureau</a> d'<a
                href="https://gitlab.com/grcote7/october" target="_blank" class="noDeco"><b>A</b>ffaires</a> <b>Gr</b>oupe
            <b>COTE7</b>- 31/00 - 0570167 | 06 - DZ ORAN - <span class="text-nowrap">APE 607006 & 612205</span></p>
    </div>
</div>
