body {
  font-family: Helvetica, arial, serif;
  background-color: cornsilk;
  color: maroon;
  margin: 10px 20px;
}

h2 {
  margin-top: 90px;
  font-size: 3em;
  text-align: center;
  text-transform: uppercase;
}

a {
  text-decoration: none;
}

a:hover {
  color: red;
  text-decoration: none;
}

#nav {
  border: 1px solid rgba(122, 51, 51, 0.644);
  border-radius: 4px;
  line-height: 2.1;
  /* second level */
}

#nav > a {
  display: none;
}

#nav li {
  position: relative;
}

#nav > ul {
  /* first level */
  height: 1.2em;
}

#nav > ul > li {
  list-style: none;
  width: 25%;
  height: 100%;
  float: left;
}

#nav li ul {
  padding: 5px 10px;
  border: 1px solid #f00;
  background-color: rgba(240, 227, 45, 0.9);
  display: none;
  position: absolute;
  top: 25px;
  border-radius: 4px;
}

#nav li:hover ul {
  color: #000;
  display: block;
  list-style: none;
}
/*# sourceMappingURL=menu.css.map */