description = "CAI layout"

[session]
security = "all"
==
<!DOCTYPE html>
<html lang="fr">

<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-61289532-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'UA-61289532-1');
    </script>
    <meta charset="utf-8">
    <meta name="description" content="{{ this.page.meta_description }}">
    <meta name="title" content="{{ this.page.meta_title }}">
    <meta name="author" content="C57">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="icon" type="image/gif" href="{{ 'assets/images/animated_favicon.gif'|theme }}">
    <link rel="icon" type="image/gif" href="{{ 'assets/images/favicon.ico'|theme }}">

    <!--Cf. BEA pour last fontawesome -->
    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- Bootstrap core CSS -->
    <link href="{{ 'assets/dist/css/cai/bootstrap.min.css'|theme }}" rel="stylesheet">
    <!-- Material Design Bootstrap -->
    <link href="{{ 'assets/dist/css/cai/mdb.min.css'|theme }}" rel="stylesheet">
    <!-- Your custom styles (optional) -->
    <link href="{{ 'assets/dist/css/cai/style.css'|theme }}" rel="stylesheet">
</head>

<body class="fixed-sn light-blue-skin">

    {#
{% partial "cai/header" %}
#}

    {% page %}

    <!-- SCRIPTS -->
    <!-- JQuery -->
    <script type="text/javascript" src="{{ 'assets/dist/js/cai/jquery-3.2.1.min.js'|theme }}"></script>
    <!-- Bootstrap tooltips -->
    <script type="text/javascript" src="{{ 'assets/dist/js/cai/popper.min.js'|theme }}"></script>
    <!-- Bootstrap core JavaScript -->
    <script type="text/javascript" src="{{ 'assets/dist/js/cai/bootstrap.min.js'|theme }}"></script>
    <!-- MDB core JavaScript -->
    <script type="text/javascript" src="{{ 'assets/dist/js/cai/mdb.min.js'|theme }}"></script>

    <!-- Initializations -->
    <script>
        // SideNav Initialization
        $(".button-collapse").sideNav();

        // Material Select Initialization
        $(document).ready(function () {
            $('.mdb-select').material_select();
        });

        // Tooltip Initialization
        $(function () {
            $('[data-toggle="tooltip"]').tooltip()
        })
    </script>

</body>

</html>