[viewBag]
title = "Git Graph"
url = "/doc/outils/vscode/vscode-settings/git-graph"
layout = "doc"
is_hidden = 0
navigation_hidden = 0
localeUrl[en] = "/doc/outils/vscode/vscode-settings"
==
<h1>Extension Git Graph</h1>

<p>Upgrade Branche</p>
<table style="width: 100%;">
	<tbody>
		<tr>
			<td style="width: 100.0000%; text-align:center; padding-top:30px; padding-bottom:0;">
        <p class="text-align:center">
          <video width="90%" controls>
            <source src="/storage/app/media/docGC7/Git_UpdateBranch.mp4" type="video/mp4">
              Your browser does not support the video tag.
          </video>
        </p>
			</td>
		</tr>
	</tbody>
</table>

<p>Delete Branche</p>
<table style="width: 100%;">
	<tbody>
		<tr>
			<td style="width: 100.0000%; text-align:center; padding-top:30px; padding-bottom:0;">
        <p class="text-align:center">
          <video width="90%" controls>
          <source src="/storage/app/media/docGC7/Git_DelBranch.mp4" type="video/mp4">
          Your browser does not support the video tag.
          </video>
        </p>
			</td>
		</tr>
	</tbody>
</table>
