[viewBag]
title = "Laragon"
url = "/doc/outils/laragon"
layout = "doc"
is_hidden = 0
navigation_hidden = 0
==
<h1>Laragon</h1>

<p>1. Paramétrer votre Laragon</p>

<p><img src="/storage/app/media/FormationC57/conf_laragon.png" style="width: 885px; height: 610.65px;" class="fr-fic fr-dib"></p>

<br>

<p>2. Éteindre Laragon et le relancer</p>

<p>3. Votre première page 'en ligne':&nbsp;</p>

<p>Dans le dossier de votre serveur local, (<a href="http://C:/laragon/www" rel="noopener noreferrer" target="_blank">C:/laragon/www</a>) crééer un dossier nommé "<strong>sitetest</strong>" et poser dedans un fichier nommé: <strong>index.html</strong></p>

<p>Utiliser votre VSC pour l'ouvrir et écrire ce que vous souhaitez dedans. Enregistrer</p>
<br>

<p>Avec votre navigateur, rendez-vous: <a href="http://sitetest" rel="noopener noreferrer" target="_blank"><strong>http://sitetest</strong></a></p>
