[viewBag]
title = "Navigateur"
url = "/doc/outils/navigateur"
layout = "doc"
is_hidden = 0
navigation_hidden = 0
==
<div id="doc">

	<h1><a href="https://www.google.com/intl/fr/chrome/" target="_blank">Chrome</a></h1>

	<p>Ctrl + Shift + c: Inspecteur de la console de débogage (F12)</p>

	<p>Il existe de nombreux plugins dont un particulièrement intéressant: <a href="https://chrome.google.com/webstore/detail/livepage/pilnojpmdoofaelbinaeodfpjheijkbh?hl=fr" target="_blank">Live Page</a> (2,29 €)</p>

	<h1><a href="https://www.mozilla.org/fr/firefox/developer" target="_blank">Firefox Developper</a></h1>

	<p>Il existe aussi de très nombreux plugins dont un équivalent au Live Page de Chrome: <a href="https://addons.mozilla.org/fr/firefox/addon/tab-reloader" target="_blank">Tab Reloader</a> (Gratuit)</p>
</div>