[viewBag]
title = "Web"
url = "/doc"
layout = "doc"
is_hidden = 0
navigation_hidden = 0
==
<div id="doc">

	<h1>c57: Git au service de VOTRE savoir.</h1>

	<h2>c57 utilise exclusivement le <a href="https://fr.wikipedia.org/wiki/Git" rel="noopener noreferrer" target="_blank">système Git</a></h2>

	<p>À ce titre, vous allez à l'aide des pages suivantes, installer une base opérationnelle de dév</p>

	<p>
		<br>
	</p>
	<hr>

	<p class="tac"><a class="btn tac" href="https://c57.slack.com/messages/CD1RJNGF7/apps/BD1LB70AE" target="_blank" title="Zône de discussion rapide">Lien Slack</a>
		<a class="btn tac" href="/doc/outils" title="Aller à la page suivante">Page suivante</a></p>
</div>