    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="{{ this.page.meta_description|default(this.theme.description) }}">
    <meta name="keywords" content="{{ this.theme.keywords }}">
    <meta name="author" content="{{ this.theme.website_author }}">
    <title>{{ this.theme.website_name }} - {{ this.page.meta_title|default(this.page.title) }}</title>
    <link rel="canonical" href="{{ this.theme.website_url }}" />
    <link rel="icon" type="image/png" href="{{ 'assets/img/icon.png'|theme }}" />

    {% if this.theme.load_google_fonts %}
    <link href="https://fonts.googleapis.com/css?family={{ this.theme.google_font_family }}" rel="stylesheet">
    {% endif %}
    {% if this.theme.load_fontawesome %}
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet">
    {% endif %}

    <!--[if lte IE 8]><script src="{{ 'assets/js/ie/html5shiv.js'|theme }}"></script><![endif]-->
    <!--[if lte IE 9]><link rel="stylesheet" href="{{ ['assets/css/ie9.css']|theme }}" /><![endif]-->
    <!--[if lte IE 8]><link rel="stylesheet" href="{{ ['assets/css/ie8.css']|theme }}" /><![endif]-->


    <link href="{{ ['assets/css/main.css', 'assets/sass/zw_custom.scss']|theme }}" rel="stylesheet">
    {% styles %}