<!-- Footer -->
<footer id="footer">

    <section>
        <p>&copy; 2019 - <strong><a href="https://github.com/c57fr/c57" title="Dépôt GitHub">C57</a></strong>, Club
            Privé
            de Partage de Connaissances &
            Compétences</p>
    </section>
    <section style="text-align:right">
        <p><em><a href="http://sg.NewNRJ.com" class="ext" target="_blank">GC7</a></em> @ F59410 - ANZIN</p>
    </section>

    <!--
        <section>
    <div style="
        /* margin-top: 0; 
        padding-top: 0;*/
        line-height: 0.1;text-align: right; margin-top: -.125%; font-size: 0.7em;margin-right: 15px;" class="sp1">
        &copy; 2019 - <strong><a href="https://github.com/c57fr/c57" title="Dépôt GitHub">C57</a></strong>, Club Privé
        de Partage de Connaissances &
        Compétences
        -
        <em><a href="http://sg1.COTE7.com" class="ext" target="_blank">GC7</a></em> @ F59410 - ANZIN
    </div>

        <section>
            <h2>Aliquam sed mauris</h2>
            <p>Sed lorem ipsum dolor sit amet et nullam consequat feugiat consequat magna adipiscing tempus etiam dolore veroeros. eget dapibus mauris. Cras aliquet, nisl ut viverra sollicitudin, ligula erat egestas velit, vitae tincidunt odio.</p>
            <ul class="actions">
                <li><a href="generic.html" class="button">Learn More</a></li>
            </ul>
        </section>
        <section>
            <h2>Etiam feugiat</h2>
            <dl class="alt">
                <dt>Address</dt>
                <dd>1234 Somewhere Road &bull; Nashville, TN 00000 &bull; USA</dd>
                <dt>Phone</dt>
                <dd>(000) 000-0000 x 0000</dd>
                <dt>Email</dt>
                <dd><a href="#">information@untitled.tld</a></dd>
            </dl>
            <ul class="icons">
                <li><a href="#" class="icon fa-twitter alt"><span class="label">Twitter</span></a></li>
                <li><a href="#" class="icon fa-facebook alt"><span class="label">Facebook</span></a></li>
                <li><a href="#" class="icon fa-instagram alt"><span class="label">Instagram</span></a></li>
                <li><a href="#" class="icon fa-github alt"><span class="label">GitHub</span></a></li>
                <li><a href="#" class="icon fa-dribbble alt"><span class="label">Dribbble</span></a></li>
            </ul>
        </section>
        <p class="copyright">&copy; Untitled. Design: <a href="https://html5up.net">HTML5 UP</a>.</p>
    -->
</footer>