<!-- Header -->
<header id="header" class="alt">
    <span class="logo"><img src="{{'assets/images/logo_c7.png'|theme}}" alt="Logo C7" /></span>
    <!--<h1>{{ this.page.title }}</h1>
    <p>{{ this.page.description|raw }}</p>-->
</header>
