description = "Menu Header de c57"

[viewBag]
==
<!-- Nav -->
<nav id="nav">
    <header>
        <ul>
            <li><a href="#one">Accueil</a></li>
            <li><a href="#two"> </a></li>
            <li><a href="#three"> </a></li>
            <li><a href="#four"> </a></li>
            <li><a href="doc" title="Accéder aux pages de documentation">Doc</a></li>
            <li>{% if this.page.id != "login" %}
                <a href="" data-toggle="modal" data-target="#modalLoginForm" title=" Zone membres "
                    id="btnBea">B.E.A.</a>
                {% else %}
                <a href="/" title=" Retour à l'Accueil ">Retour B.E.A.</a>
                {% endif %}</li>
        </ul>
    </header>
</nav>