<section id="one" class="main">

    <div class="spotlight">

        <section id="layout-content" class="container clearfix">
            <div class="main">
                <h1 class="spaceTopSite">C57.fr,</h1>
                <p id="slogan">LA réponse.</p>

              <!--
                <br/>
                <div style="position: relative; top: 50%; height: 100%; width:77%; margin: 20px auto; padding-top:10px; text-align: center; border: 3px solid orange; border-radius:7px;">
                  <h3><a href="https://insiders.liveshare.vsengsaas.visualstudio.com/join?0157CCF593681700625A2C75DEA1BCC8ED7F" target="_blank"><i style="vertical-align: middle;" class="fa fa-2x fa-code"></i> Session Co-coding &apos;En cours&apos;</a></h3>
                </div>
              -->
                <br>

                <h3>Apprenez par l&apos;action ! <a href="https://gitlab.com/c57fr/c57" title=" LE dépôt GitLab de c57.fr

                Rappel: Cliquer sur &apos;Fork&apos;...

                ... Et: Clôner VOTRE dépôt !

                (Prérequis: La Doc c57) ">

                          Dépôt GitLab*
                      </a></h3>

                      <i>* Installation en 2 lignes de commandes !</i>
                    <br>&nbsp;

                  <!-- <div class="resserre">
                  <h4><a href="faq" title="Avant, merci de lire notre page Questions Fréquentes...">Besoin d'aide? Une question? Une attente ou une requête?</a></h4>
                </div> -->
                <!-- Slogan suivant à changer ( => + général) à terme... -->

                <p><em id="intro">Le Developpement Informatique (Et pas que !), c&apos;est maintenant et enfin pour tout le monde...<br>
                ... Et en plus, avec la puissance des logiciels<a href="https://fr.wikipedia.org/wiki/Open_source" target="_blank" class="ext">Open-Sources.</a><br>
                <span class="accron">C</span>&apos;est en <span class="accron">5</span> - <span class="accron">7</span>..<span class="accron">.</span>
                Rapide, facile, même pour les &apos;pures&apos; <span class="accron">fr</span>ancophones !</em></p>

                {# {{ lienDiscord|raw }} #}
                <h2>
                  {# 2do Chatroom en privé dès filiation OK #}
                  <a href="https://join.slack.com/t/c57/shared_invite/enQtNDQ1Njc4NDY5MDcyLTZmYWU1YmU3ZTU1MzUyYTIyMzQyMDYyZTkzNTA0ZDZiNTA5MzM1MDJlMDQ5M2FjZDM1ODE1NzJiNzcxZDE0NDg" class="btn" id="chatroom" target="_blank">ChatRoom</a>
                </h2>

                <hr>

                {% component 'derInscrits' %}

                <hr>

                <p class="actions">
                    <a href="{{'doc'|url_encode}}" class="button">Apprendre plus</a>
                </p>

            </div>
        </section>

    </div>
    <!--<span class="image"><img src="{{'assets/images/pic01.jpg'|theme}}" alt="image" /></span>-->
    </div>
</section>
