<section id="two" class="main">
    <header class="major">
        <h2>Second Section</h2>
    </header>
    <ul class="features">
        <li>
            <span class="icon major style1 fa-code"></span>
            <h3>Ipsum consequat</h3>
            <p>Sed lorem amet ipsum dolor et amet nullam consequat a feugiat consequat tempus veroeros sed consequat.</p>
        </li>
        <li>
            <span class="icon major style3 fa-copy"></span>
            <h3>Amed sed feugiat</h3>
            <p>Sed lorem amet ipsum dolor et amet nullam consequat a feugiat consequat tempus veroeros sed consequat.</p>
        </li>
        <li>
            <span class="icon major style5 fa-diamond"></span>
            <h3>Dolor nullam</h3>
            <p>Sed lorem amet ipsum dolor et amet nullam consequat a feugiat consequat tempus veroeros sed consequat.</p>
        </li>
    </ul>
    <footer class="major">
        <ul class="actions">
            <li><a href="{{'generic'|page}}" class="button">Learn More</a></li>
        </ul>
    </footer>
</section>