<section id="four" class="main">
    <header class="major">
        <h2>Fourth Section</h2>
        <p>You can choose stellar (home one-pager) and generic (all other pages) as Layout.</p>
    </header>
    <footer class="major">
        <ul class="actions">
            <li><a href="{{'generic'|page}}" class="button">View Generic Page</a></li>
            <li><a href="{{'elements'|page}}" class="button">View Elements Page</a></li>
            <li><a href="{{'blog'|page}}" class="button special">View Blog Page</a></li>
        </ul>
    </footer>
</section>
