title = "Ajax Filter"
url = "/ajax-filter"
layout = "semantic"
is_hidden = 0

==
<?
use GC7\Movies\Models\Movie;
use GC7\Movies\Models\Genre;

function onStart() {
    $this->prepareVars();
    $this->prepareYears();
}

function onFilterMovies() {
    $this->prepareVars();
}

function prepareVars() {
    $options = post('Filter', []);

    $this['movies'] = Movie::listFrontEnd($options);
    $this['genres'] = Genre::orderBy('name','asc')->get();
    $this['sortOptions'] = Movie::$allowedSortingOptions;

    // dd($this['movies']);
    // dd($this['movies']->lastpage());

    $this['pages'] = $this['movies']->lastpage();
    $this['page'] = $this['movies']->currentpage();
}

function prepareYears(){
    $movies = Movie::all();
    $years = [];

    foreach($movies as $movie){
        $years[] = $movie->year;
    }
    $years = array_unique($years);

    $this['years'] = $years;
}

?>
==

<div class="ui grid">

    <div class="eleven wide column">

        <h2 class="ui header" style="margin-top:30px;">Ajax Filter Movies</h2>
        <div id="partialMovies">
            <p id='maCase'>By Javascript...</p>
            {% partial 'movies/movies' %}
        </div>

    </div>

    <div class="five wide column">

        {{ form_ajax('onFilterMovies',
            { update:
                {
                'movies/movies': '#partialMovies',
                'movies/paginate': '#partialPaginate'
                }
            }
        ) }}

        <div id="MoviesFilter" class="movies-filter ui form">
            <div class="ui segment vertical">

                <div class="field" id="partialPaginate">
                    {% partial 'movies/paginate' %}
                </div>

                <label class="header"><h3>Genres</h3></label>
                <hr>
                {% for genre in genres %}
                <div class="field">
                    <div class="ui checkbox">
                        <input type="checkbox" name="Filter[genres][]" value="{{ genre.id }}"/>
                        <label>{{genre.name|capitalize}}</label>
                    </div>
                </div>
                {% endfor %}

                <div class="field">
                    <label><h3>Year</h3></label>
                    <hr>
                    <select class="ui fluid dropdown" name="Filter[year]">
                        <option value="">Select Year</option>
                        {% for year in years|sort|reverse(true) %}
                            <option value="{{year}}">{{ year }}</option>
                        {% endfor %}
                    </select>
                </div>

                <div class="field">
                    <label><h3>Sorting</h3></label>
                    <hr>
                    <select class="ui fluid dropdown" name="Filter[sort]">
                        {% for code, option in sortOptions %}
                            <option value="{{ code }}">{{ option }}</option>
                        {% endfor %}
                    </select>
                </div>

            </div>
        </div>
        {{ form_close() }}
    </div>

</div>
