title = "Contact"
url = "/contact"
layout = "bootstrap"
is_hidden = 0

[contactform]

[siteSearchInclude]
==
<h2>Contact Page</h2>
<p>Oki 21</p>

{# <p>The time is {{ 'now' | date('H:i') }}</p> #}
<hr>
<br>
{% component 'contactform' %}
