title = "Genre"
url = "/genre/:slug"
layout = "base"
is_hidden = 0

[builderDetails]
modelClass = "GC7\Movies\Models\Genre"
identifierValue = "{{ :slug }}"
modelKeyColumn = "slug"
displayColumn = "name"
notFoundMessage = "Record not found"
==
{% set record = builderDetails.record %}
{% set displayColumn = builderDetails.displayColumn %}
{% set notFoundMessage = builderDetails.notFoundMessage %}

{% if record %}
    <h2>{{ attribute(record, displayColumn) }}</h2>

        {% for movie in record.movies %}
        <a href="/movie/{{ movie.slug }}" class="no-decoration">
            {{ movie.title }}<br>
        </a>
    {% endfor %}
{% else %}
    {{ notFoundMessage }}
{% endif %}