title = "Homepage"
url = "/"
layout = "bootstrap"
is_hidden = 0

[headAssets]

[actors]
results = 0
sortOrder = "name asc"

[siteSearchInclude]
==
<h1>Homepage Olympos</h1>

<form action="{{ 'search' | page }}" method="get">
<div class="flex items-baseline mr-8">
    <input class="w-64" name="q" type="text" placeholder="What are you looking for?" autocomplete="off">
    <button class="ml-3" type="submit" class="btn btn-default">Search</button>
</div>
</form>

{% component 'actors' %}

<p class="text-justify">Lorem ipsum dolor sit amet consectetur.</p>
