title = "Login"
url = "/login"
layout = "bootstrap"
is_hidden = 0

[account]
paramCode = "code"
forceSecure = 0
requirePassword = 0
==
{% if not user %}

    <div class="row">

        <div class="col-md-6">
            <h3>Sign in</h3>
            {% partial account ~ '::signin' %}
        </div>

        <div class="col-md-6">
            {% partial account ~ '::register' %}
        </div>

    </div>

{% else %}

    {% partial account ~ '::activation_check' %}

    {% partial 'user-update' %}

    {% partial account ~ '::deactivate_link' %}

{% endif %}