title = "Movies"
url = "/movies/:page?"
layout = "bootstrap"
is_hidden = 0

==
<?php
use Gc7\Movies\Models\Movie;
function onStart(){
    $this['title']=Input::get('title');
    $this['movies'] = ($this['title']) ? Movie::where('title','like',$this['title'])->get(): Movie::orderBy('year', 'desc')->paginate(4);
    //dd($this['movies']);
    //dd($this['title']);
}
?>
==
<h2>Movies</h2>
<ul class="movie-list">
    {% for movie in movies %}
    <li>
    <h3 class="topspace10"><a href="movie/{{movie.slug}}">{{ movie.title }}</a> - {{ movie.year }}</h3>
    {{ html_limit(movie.description, 150)|raw }}
    </li>
    {% else %}
    <li class="no-data">No Movies found</li>
    {% endfor %}
</ul>

<div class="pagination">{{movies.render|raw}}</div>
