title = "Movie single"
url = "/movie/:slug"
layout = "bootstrap"
is_hidden = 0
==
<?php
use Gc7\Movies\Models\Movie;
function onStart(){
  $this['movie'] = Movie::where('slug','=',$this->param('slug'))->first();
// dd($this['movie']);
}
?>
==
{% if movie %}
    <h2>{{ movie.title }}</h2>

    <img src="{{ movie.poster.thumb(200, auto) }}" alt="">

<h4>{{ movie.year }}</h4>

<h3>Actors</h3>
{% for actor in movie.actors %}
    {{ actor.full_name }}<br>
{% endfor %}
<h3>Description</h3>
    <div class="text-justify">
<p>{{ movie.description|raw }}</p>
</div>
<h3>Gallery</h3>
<ul class="flex bg-gray-200 p-3">
    {% for image in movie.movie_gallery %}
        <li class="mx-1">
        <a href="{{image.path}}">
            <img src="{{ image.thumb(80, 80, {'mode': 'crop'}) }}" alt="" class="rounded">
        </a>
        </li>
    {% endfor %}
</ul>

<h3>Genres</h3>

{% for genre in movie.genres %}
    <a href="/genre/{{ genre.slug }}" class="no-decoration">
        {{ genre.name }}<br>
    </a>
{% endfor %}

{% else %}
    {{ notFoundMessage }}
{% endif %}