title = "Test"
url = "/test"
layout = "semantic"
is_hidden = 0
==
<?php
function onstart(){
    // $this['data'] = [1,2,3];
    include './plugins/gc7/tools/testapp.php';
}
?>
==
<h1>Page pour tests divers</h1>
{{ data|join(', ',' et ') }}
<iframe src="{{ "pages/t-html.php"|theme }}"
class="border-2 border-orange-500 border-solid rounded-xl mt-4 p-0 w-[100%] mx-auto flex flex-row flex-wrap font-arial text-2xl text-center" height="650" title="testBloc" frameborder="0" id="myIframe"></iframe>

