description = "C57 layout Une"

[session]
security = "all"

[headAssets]
==
<?php
function onStart(){
  // Pour tuer le cash en prod
  \Artisan::call('cache:clear');
  \Artisan::call('view:clear');
}
?>
==
<!DOCTYPE html>
<html lang="fr">
  <head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script
      async
      src="https://www.googletagmanager.com/gtag/js?id=UA-61289532-1"
    ></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments);
      }
      gtag("js", new Date());

      gtag("config", "UA-61289532-1");
    </script>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />

    <title>{{ this.page.title }} | c57</title>
    {% if this.page.__isset('title') and this.page.title is not empty %}
    <meta name="title" content="{{ this.page.title }}" />
    {% endif %} {% if this.page.__isset('meta_description') and
    this.page.meta_description is not empty %}
    <meta name="description" content="{{ this.page.meta_description }}" />
    {% endif %}

    <meta name="author" content="GC7" />
    <meta name="generator" content="c57fr" />

    <link rel="shortcut icon" type="image/png" href="{{ 'assets/images/favicon.ico' | theme }}"/>
    <link rel="icon" type="image/gif" href="{{ 'assets/images/animated_favicon.gif' | theme }}"/>

    {#
    <link href="{{ ['assets/dist/css/all.css'] | theme }}" rel="stylesheet" />
    #} {#
    <!-- <link rel="stylesheet" href="{{ 'assets/dist/css/all.css'|theme }}"> -->
    #}

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto"/>

    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous"/>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="{{ [
        'assets/dist/css/cai/bootstrap.min.css',
        'assets/dist/css/cai/mdb.min.css',
        'assets/dist/css/une/all.css'
      ]|theme }}"/>
    {#
    <link rel="stylesheet" href="{{ 'assets/dist/css/une/all.css' | theme }}" />
    #}

    {% styles %}
{% component 'headAssets' %}
  </head>

  <body>
    {% partial "une/headerc57" %}

    <!-- Content -->
    {% page %} {% partial "une/footerc57" %}

    <!-- Scripts -->
    <script src="{{
        [
          'assets/js/jquery-3.3.1.min.js',
          'assets/js/popper.min.js',
          'assets/js/bootstrap.min.js',
          'assets/js/mdb.min.js',
          'assets/js/app.js'
        ] | theme
      }}"></script>

    {% framework extras %} {% scripts %}

    <script type="text/javascript">
      jQuery(document).ready(function($) {
        console.log("Ok 23");
      });
    </script>
  </body>
</html>