<div id="vehicule">
  <h4>Affichage des propriétés et méthodes d'un objet de classe Vehicule :</h4>
  <ul>
    <li>
      <p>Infos: <strong>{{ vehicule.marque }}</strong></p>
    </li>
    <li>
      <p>Proprio: <strong>{{ vehicule.owner }}</strong></p>
    </li>
    {{ vehicule.rouler(27) }}
    <li>Compteur: <strong>{{ vehicule.compteur }} km{{ vehicule.compteur>1 ? 's' }}</strong>.</p>
    </li>
  </ul>
  <hr>
  Nouvelle Propriété = {{ vehicule.nouvellePropriete }}
  {#
    <hr>
    {{ dump(this) }}
  #}
</div>
