$cheminImages: '/themes/c57/assets/images/';

#test {
  margin-top: -10px;

  h1 {
    color: rgb(0, 10, 143);
  }

}

.tooltip {
  margin-left: 15px;
}

.tooltip-inner {
  color: maroon;
  border: 3px solid rgba(173, 86, 86, 0.473);
  background: url('/themes/c57/assets/images/favicon.ico') 97% 95% no-repeat cornsilk;
  background-size: 11%;
  border-radius: 7px;
}

.bs-tooltip-auto[x-placement^=right] .arrow::before,
.bs-tooltip-right .arrow::before {
  border-right-color: rgba(173, 86, 86, 0.473);
}

#monP {
  font-size: 1.2em;
  text-align: center;
  font-weight: 600;
  margin: 0;
  padding: 10px 0;
  width: 100%;
  height: 50px;
  color: maroon;
  border-radius: 4px;
  background: url($cheminImages + 'logo_c7.png') no-repeat 97% center, linear-gradient(rgb(255, 149, 149), rgb(255, 255, 137), rgb(176, 250, 176));
  background-size: 70px;

  position: fixed;
  bottom: 65px;
  border: 1px solid maroon;
}

/* Réglage grande fenêtre */
@media screen and (min-width: 648px) {
  #monP {
    bottom: 34px;
    background-position-x: 99%;
  }
}
/*
#rep{
  text-align: center;/
}
*/