{% for item in items %}
    <li role="presentation" class="{{ item.isActive ? 'active underline' : '' }} {{ item.isChildActive ? 'child-active underline' : '' }} {{ item.viewBag.cssClass }} text-lg hover:underline px-4">
        {% if item.url %}
            <a href="{{ item.url }}" {{ item.viewBag.isExternal ? 'target="_blank"' }}>
                {{ item.title }}
            </a>
        {% else %}
            <span>{{ item.title }}</span>
        {% endif %}

        {% if item.items %}
            <ul>{% partial __SELF__ ~ "::items" items=item.items %}</ul>
        {% endif %}
    </li>
{% endfor %}
