h2.maVar {
  font-family: Comic Sans MS;
  color: purple;
}

.top10 {
  text-align: center;
  background-color: #e7e7e7;
  color: blue;
  font-size: 1.5em;
  margin-top: 10px;
  padding: 10px 20px 10px;
  border-radius: 15px;
}

@margeTop: 30px;

.top20,
.top30 {
  margin-top: @margeTop;
}

.padding10 {
  width: 92%;
  color: rgb(97, 97, 97);
  padding: 20px 30px;
  border-radius: 15px;

  hr {
    margin: 10px 0;
  }
}

.padding20 {
  color: blue;
  margin-top: 700px;
  padding: 50px 20px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;
}

input[placeholder] {
  font-style: italic;
  color: rgb(128, 0, 128);
}

.container.pc97co {
  width: 97%;
  margin: 20px 1% 20px 2%;
  padding: 1px 50px 10px;
  border: 3px solid orange;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  border-radius: 7px;
  box-shadow: -9px 7px 7px #333;
}
