title = "c57 | Page inexistante (404)"
url = "/404"
layout = "stellar"
description = "Displayed when a page cannot be found"
hidden = "0"
meta_title = "You might want to sit down for this"
==
<div class="main jumbotron text-center" style="text-align: center">
    <hr>
    <h1>Désolé... Page inexistante !</h1>
    <p>Veuillez vérifier et modifier le lien utilisé,<br>
        puis actualiser votre navigateur...</p>
    <p><a href="/">... Ou cliquez ICI pour retourner à la page d'accueil du site.</a></p>
    <!--<p><a class="button" href="{{'home'|page}}">Back to Home</a></p> Lien même effet-->
</div>
<br>&nbsp;<br>