
{# {{ debug(item.viewBag.isHidden is defined) }} #}

{% for item in items if not item.viewBag.isHidden is defined %}
<li role="presentation"
  class="{{ item.isActive ? 'active' : '' }} {{ item.isChildActive ? 'child-active' : '' }} {{ item.viewBag.cssClass ?? '' }}">
  {% if item.url %}
  <a href="{{ item.url }}" class="pasred">
    {{ item.title }}
  </a>
  {% else %}
  <span>{{ item.title }}</span>
  {% endif %}

  {% if item.items %}
  <ul>{% partial __SELF__ ~ "::items" items=item.items %}</ul>
  {% endif %}
</li>
{% endfor %}
