title = "c57 | Page inexistante (404)"
url = "/404"
layout = "une"
description = "Displayed when a page cannot be found"
hidden = "0"
meta_title = "You might want to sit down for this"
==
<div class="jumbotron text-center">
    <h2>Désolé... Page inexistante !</h2>
    <p>Veuillez vérifier et modifier le lien utilisé,<br>
      puis actualiser votre navigateur...</p>
    <p><a href="/">... Ou cliquez ICI pour retourner à la page d'accueil du site.</a></p>
</div>