<!-- Nav -->
<nav id="nav">
    <ul>
        <li><a href="{{ 'home'|page }}">Home Onepager</a></li>
        <li><a href="{{ 'blog'|page }}" class="{% if this.page.id == 'blog' %}active{% endif %}">Blog</a></li>
        <li><a href="{{ 'generic'|page }}" class="{% if this.page.id == 'generic' %}active{% endif %}">Generic</a></li>
        <li><a href="{{ 'elements'|page }}" class="{% if this.page.id == 'elements' %}active{% endif %}">Elements</a></li>
        <li><a href="{{ '404'|page }}" class="{% if this.page.id == '404' %}active{% endif %}">Not Found</a></li>
    </ul>
</nav>