description = "Footer de c57"
==
<footer class="mt-2">
  <div style="
  /* margin-top: 0;
  padding-top: 0;*/
  line-height: 1;text-align: center; margin-top: -.125%; font-size: 0.7em;margin-right: 15px;" class="sap1">

 <strong><a href="https://gitlab.com/c57fr/c57" title="Dépôt GitHub" target="_blank">C57</a></strong>, Club Privé de Partage de Connaissances & Compétences
    <br>
    <div>&copy; 2017-{{ "now"|date("Y") }} <a href="http://COTE7.fr" class="ext" target="_blank">GC7</a>@ F21130 - Saint SEINE-en-BÂCHE
  </div>
</footer>
