body {
  padding-top: 46px;
  /*46*/
}
header#layout-header .navbar-brand {
  padding-left: 70px;
  background-image: url('../../images/logo_150x93_c7.png');
  background-size: auto 90%;
  background-repeat: no-repeat;
  background-position: 0 50%;
}
#footergc7 {
  margin-top: -10px;
  font-size: .9em;
  color: grey;
}
#footergc7 p {
  margin: 0;
}
#footergc7 p a.noDeco {
  color: grey;
  text-decoration: none;
}
.rouge {
  color: red;
}
