name ="header"
==
<?php
function onStart(){
    $this['env']=env('APP_ENV');
}
?>
==
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{ this.page.title }} | c57.fr</title>

    {% if this.page.__isset('title') and this.page.title is not empty %}
        <meta name="title" content="{{ this.page.title }}" />
    {% endif %} {% if this.page.__isset('meta_description') and
    this.page.meta_description is not empty %}
        <meta name="description" content="{{ this.page.meta_description }}" />
    {% endif %}

    <meta name="author" content="GrCOTE7" />
    <meta name="generator" content="c57.fr" />

    <link rel="shortcut icon" type="image/png" href="{{ 'assets/images/favicon.ico' | theme }}"/>
    <link rel="icon" type="image/gif" href="{{ 'assets/images/animated_favicon.gif' | theme }}"/>

    {% partial 'shared/google_analytic.htm' %}

    <!-- 2do All must be  in local -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto"/>

    <!-- 2do All must be  in local -->
    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"/>
    <!-- 2do All must be  in local -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous"/>

    <!-- Bootstrap core CSS -->
    <!--
    <link rel="stylesheet" href="{{ [
        'assets/dist/css/cai/bootstrap.min.css',
        'assets/dist/css/cai/mdb.min.css',
        'assets/dist/css/une/all.css'
    ]|theme }}"/>
    -->

    {% styles %}

    {% if env=='dev' %}
        {% component 'headAssets' %}
    {% else %}
        {# <link rel="stylesheet" href="{{ 'assets/sass/une/style.css'|theme }}"> #}
        <link rel="stylesheet" href="{{'build/assets/app.4ce57ae8.css'|theme}}">
    {% endif %}

</head>
