description = "Header de c57"

[viewBag]
==
<?php
function onstart(){
    $this['env']= ( env('APP_DEBUG') ? (env('APP_ENV').' |'):'');
}
?>
==
<nav>
    <span class='text-red-500'>{{ env|capitalize }}</span>
    <a href="doc" title="Accéder aux pages de documentation (En cours de restauration)">Doc</a>
    {% if this.page.id != "login" %}
        {# |   <a href="" data-toggle="modal" data-target="#modalLoginForm" title="Zone membres" id="btnBea">B.E.A.</a> #}
        | <a href="./be" title="Zone membres" id="btnBea">B.E.A.</a>
    {% else %}
        | <a href="/" title="Retour à l'Accueil">Retour B.E.A.</a>
    {% endif %}
</nav>
