[viewBag]
==
<div class="bg-gradient-to-r from-cyan-500 to-red-500 p-4 text-center text-white bold text-xl">
<nav>
    <div class="flex">
        <div class="navlink{% if this.page.id == 'homepage' %} active{% endif %}"><a href="{{ 'homepage'|page }}">Home</a></div>

        <div class="navlink{% if (this.page.id in ['movies', 'movie-single', 'genres']) %} active{% endif %}"><a href="{{ 'movies'|page }}">Movies</a></div>

        <div class="navlink{% if (this.page.id == 'filtermovies') %} active{% endif %}"><a href="{{ 'filtermovies'|page }}">Filter</a></div>

        <div class="navlink{% if (this.page.id == 'ajax-filter') %} active{% endif %}"><a href="{{ 'ajax-filter'|page }}">AjaxFilter</a></div>

        <div class="navlink{% if (this.page.id == 'contact') %} active{% endif %}"><a href="{{ 'contact'|page }}">Contact</a></div>

        <div class="navlink{% if (this.page.id == 'add-actors') %} active{% endif %}"><a href="{{ 'add-actors'|page }}">Add Actor</a></div>

        <div class="navlink{% if (this.page.id == 'login') %} active{% endif %}"><a href="{{ 'login'|page }}">
        {% if not user %}Login{% else %}Profile{% endif %}
        </a></div>
        {% if user %}
        <div class="navlink"><a data-request="onLogout" data-request-data="redirect: '/'">Sign out</a></div>
        {% endif %}

        <div class="navlink{% if this.page.id == 't' %} active{% endif %}"><a href="{{ 't'|page }}">T</a></div>
    </div>
</nav>
</div>
