body {
  color:rgb(204, 0, 255);
  font-family:Comic Sans MS, "arial";
}

header {
  color:red;
  font-size: 1.6em;
  font-weight: 800;
  text-align: right;
  margin-right: 20px;
}

body {
  color:yellow;
}
