title = "Accueil"
url = "/"
layout = "basic"
description = "Site pour études et tests divers de la Team c57"
is_hidden = 0
show_menu = 0
==
<?php
function onStart(){
  $this->addCss('assets/css/maVar.min.css');
  $this['maVar'] = 777;
  
  $this['sitename']=strtoupper(Config::get("cms.activeTheme",''));
  
  //{% stopwatch "foo" %}
  //{{ debug('maVar = ' ~ maVar) }}
  //{% endstopwatch %}
  
  ini_set('xdebug.overload_var_dump', '1');
  ini_set('xdebug.var_display_max_depth', -1);
}
?>
==
<div class="container">

  <h1><a href="vehicule">En cours: Véhicule</a></h1>

  <h1>Bienvenue dans {{ this.theme.site_name }}</h1>
  <p><i>(Bases HTML5/CSS3 - SSh - BASH - Git (Ungit-GitHub-GitLab) - JavaScript - JQuery - PHP (POO) - Laravel -
    OctoberCMS - Google &apos;s Apps)</i></p>
  <p class="noDeco">Page de base {{ this.page.url}}</p>
  <a href="taf">TAF (Plugin demoTodo)</a>

  <div class="container">

    <h4 class="maVar">maVar = 777 ?<br>- {{ (maVar==777) ? 'Oui':'Non' }} {{', maVar vaut ' ~ maVar }}</h4>

    {{ 'Le nom de la page est: ' ~ this.page.id }}

  </div>
  {% content 'essaiContent.htm' sitename=sitename %}
  <br/>
  <div class="panel panel-default">
    <div class="panel-heading">
      Nom du thème: <strong>{{sitename}}</strong> (Id: {{ this.theme.id }} - Nom de code : <strong>{{ this.theme.config.code|uppercase }}</strong>)
    </div>
    {# <div class="panel-body">
      &nbsp;Theme: {{var_dump(this.theme.config)}}
      &nbsp;Page: {{var_dump(this.page)}}
    </div> #}
  </div>
</div>