[viewBag]

[staticBreadcrumbs]

[staticMenu]
code = "mainmenudoco"

[staticMenu gcMenuTpl]
code = "mainmenudoc"
==

{#
Entête
// 2do boutons mieux formés
// 2do réduite qd scrolling
---
#}

<div class="container">

  {% component 'gcMenuTpl' %}

  <div class="container">
    <div class="d-flex">
      <div class="mr-auto">
        <h1>{{this.page.title}}</h1>
      </div>
      <div class="p-2"><button type="button" class="btn btn-secondary" data-toggle="tooltip" data-placement="left" title="Vous devez avoir un compte GitLab pour poster..."><a href="https://gitlab.com/c57fr/c57/issues/new" class="btn-bouee-16" target="_blank"><span class="icon"></span>Aide</a></button></div>
    </div>
    {% if this.page.__isset('meta_description') %}
        <p>{{ this.page.meta_description|raw }}</p>
    {% endif %}
<!--
############################### GC7 ###############################
                             Breadcrumb
############################### GC7 ###############################
-->
    <nav aria-label="You are here:" role = "Navigation">
      {% if breadcrumbs %}
      <ul class="breadcrumbs">
        {% for breadcrumb in breadcrumbs %}
        <li class="{{ breadcrumb.isActive ? 'active' : '' }}"><a class="nofd" href="{{ breadcrumb.url }}">{{ breadcrumb.title }}</a></li>
        {% endfor %}
      </ul>
      {% endif %}
    </nav>
  </div>

  <section>
    <div class="container clearfix">

      <nav class="main-nav">
        {% if (this.page.title == 'Web') or (this.page.title == "Divers") %}
          {% component 'staticMenu' %}
        {% endif %}
      </nav>

    </div>
  </section>

  </container>
