title = "D"
url = "/d"
layout = "tuto"
description = "Démos de thèmes, composants & plugins"
is_hidden = 0
show_menu = 0
==
<?php
function onStart(){
    $this->addCss('assets/css/demo.css');
}
?>
==
<div class="container mx-auto">

  <h1 class="text-center">Page des démos {{ this.page.title }}</h1>

  <div class="row text-center">
    <div class="col">
      <!-- 2do à insérer ds série des d-xx -->
      <p>Complément de <a href="/a">/a</p>
    </div>
    <div class="col">
      <p><a href='/w'>Dev en cours</a></p>
    </div>
  </div>

  <ul class="w-100">
    <li><a href="https://octobercms.com/support" target="_blank"><strong>Support OCMS</strong></a></li>
    <li><a href="https://octobercms.com/support/articles/tutorials" target="_blank">Liste des tutos série OB</a></li>
  </ul>

  <div id="col2">
    <ol>
      <li class="enCours" id="firstSujet"><a href='/d-01'>D-01</a>: <b>Vehicule</b> - Simple classe véhicule</li>

      <li>*<a href='/d-02'>D-02</a>: <b>Plugin Dpt</b> - 2 components
        <ol>
          <li><b>List</b> (Réalisé avec Builder) - Liste des départements (Slug disponible dans la table)</li>
          <li><b>Name</b> - Donne le nom du département d&apos;après son numéro (Ajax)</li>
        </ol>
      </li>

      <li><a href='/d-03'>D-03</a>: <b>Ajax</b> - Data attributes API
        <ol>
          <li>Simple bouton avec action</li>
          <li>2 boutons (Oui/Non)</li>
          <li>Simple form avec validation</li>
        </ol>
      <li>JS API</li>
      <li>...</li>
      </li>

      <li>*<a href='/d-04'>D-04</a>: <b>simpleContact (RainLab)</b> - Liste des départements (Slug disponible dans la
        table) 2do optimiser insertion du dpt ds form</li>
      <li>*<a href='/d-05'>D-05</a>: <b>Exemples PHP - DataBase Eloquent</b></li>
      <li>*<a href='/d-06'>D-06</a>: <b>Exemples JS - Eloquent JS</b></li>

    </ol>
  </div>

  <div class="row m-1 mt-3">
    <h2>2do (Mi-temps avec Prod c57)</h2>
    <p>(À suivre de la der à la première - * = Tuto d'origine (re-)étudié)</p>
    <h4>Autre Tutos</h4>
    <ol>
      <li>https://medium.com/@matissjanis/octobercms-using-backend-forms-in-frontend-component-fe6c86f9296b</li>
      <li>https://kb.zensoft.hu/integrating-unitegallery/</li>
    </ol>
  </div>

  <h4>Série <strong>OB</strong> (<strong>O</strong>ctober <strong>B</strong>log)</h4>

  <ol>

    <li>*<a href='/t/ob-1'>OB-1</a>: <b>AffTri</b> - Tri d&apos;une list avec Ajax <strong>et</strong>
      component <strong>Weather</strong> ( < RainLab )</li> <li>*<a href='/t/ob-2'>OB-2</a>: <b>Blog & Forum</b> ( <
          RainLab )<br>
    </li>
    <li>*<a href='/t/ob-3'>OB-3</a>: <b>Mastering Plugin</b> - Database driven ToDo plugin</li>
    <li>*<a href='/t/ob-4'>OB-4</a>: <b>Static Pages</b> - Bases</li>
    <li>*<a href='/t/ob-4'>OB-5</a>: <b>Static Pages</b> - Content Blocks & Placeholders</li>
    <li>*<a href='/t/ob-6'>OB-6</a>: <b>Building client-friendly websites</b> - ...</li>
    <li>*<a href='/t/ob-7'>OB-7</a>: <b>Intro October</b></li>
    <li>*<a href='/t/ob-8'>OB-8</a>: <b>Media Manager Introduction</b></li>
    <li>*<a href='t/ob-9'>OB-9</a>: <b>Translating Content, Messages and Models</b> Plugin RainLab.translate<br>(Lien
      Ajax)</li>
    <li>*<a href='/t/ob-10'>OB-10</a>: <b>Extending the User plugin</b> - 2 méthodes (Avec ou sans modification de la
      table users</li>
    <li>*<a href='/t/ob-11'>OB-11</a>: <b>Back-end Relations</b> - Plugin Acme.Crm</li>
    <li>*<a href='/t/ob-12'>OB-12</a>: <b>Builder Plugin</b> - Rapid App dev (Components/Controller/Models/Menu
      BE/Permissions/Localization)</li>
    <li>*<a href='/t/ob-13'>OB-13</a>: <b>Using October without a database</b> - Le tuto pour commencer !</li>
    <li>*<a href='#'>OB-14</a>: <b>Responsive multi-language website</b><br> (Part 1) See below <a href="/t/ob-15">part
        2</a></li>
    <li>*<a href='/t/ob-15'>OB-15</a>: <b>Responsive multi-language website</b><br> (Part 2)</li>
    <li>*<a href='/t/ob-16'>OB-16</a>: <b>Setting up a local environment with Vagrant</b> - Via Homestead</li>
    <li>*<a href='/t/ob-17'>OB-17</a>: <b>Advanced content marketing and analytics</b> - OCMS pour outil de marketing
    </li>
    <li>*<a href='/t/ob-18'>OB-18</a>: <b><a href="https://watch-learn.com/" target="_blank">Watch And Learn Vidéo
          Serie</a></b> - 46 vidéos - Movies</li>

    //2ar Re-do 19 à 21 avec autre cas concret (Prod)
    <li>*<a href='/t/ob-19'>OB-19</a>: <b>Beyond Behaviors</b>
      - Part 1: How MVC works - Controllers</li>
    <li>*<a href='/t/ob-20'>OB-20</a>: <b>Beyond Behaviors</b> - Part 2: Rendering Lists and Forms by hand</li>
    <li>*<a href='/t/ob-21'>OB-21</a>: <b>Beyond Behaviors</b> - Part 3: Implementing a nested relationship</li>
    <li>*<a href='/t/ob-22'>OB-22</a>: <b>Collection of third party resources</b></li>
  </ol>
  <!--
        <li class="enCours"><a href='/t/ob-23'>OB-23</a>: <b>Titre</b></li>
        -->

  <hr>


  <h4>Série RN (Release Notes)</h4>
  <p>Souvent: Old fixes... No more need to gérer ici</p>
  <p>Exemples:</p>
  <ol>
    <li>RN-1: <b>Clean up instructions (Build 115)</b></li>
    <li>RN-2: <b>whereHas()</b></li>
    <li>Etc...</li>
  </ol>

  <h3>TODOLI:</h3>
  <ol>
    <li>Install plugin
      <b>https://github.com/anand-patel/oc-wysiwyg-editors</b></li>
    <li>Faire jusqu&apos;à T05 + Pages Dnp & Cf. pr kiki, blandine, etc...</li>
    <li>Faire idem pour tests Pgmation (Avec partie Ajax, VueJS, GGle API, etc...)</li>
    <li>Ajouter liens Forum, etc...</li>
    <li>Cf. Top Bar - Descendre part qd réduite (Cf. <a href='t/ob-4'>Ob-4</a>)</li>
  </ol>


</div>
{% put scripts %}
<script>
  $(document).ready(function () {

    // $('li').not(":has('ol')")
    // .css('background-color', 'yellow')
    // .css('color','red')
    // ;


    // Adding max width to the images
    // var ptags = document.querySelectorAll('p');
    // for (var i = 0; i < ptags.length; i++) {
    //     if (ptags[i].firstElementChild && ptags[i].firstElementChild.tagName === '') {
    //         ptags[i].className+='rouge';
    //     };
    // }

  });
</script>
{% endput %}
