title = "D01"
url = "/d-01"
layout = "tuto"
description = "Gestion véhicule"
is_hidden = 0
show_menu = 0

[vehicules]

[meteo]
country = "fr"
state = "nord"
city = "Valenciennes"
units = "Metric"
==
<div class="container">

  <h1>{{ this.page.title }}</h1>

  {% component 'vehicules' %}

  {% component 'meteo' %}

</div>
