main {
    width: 90%;
    margin: 15px auto;
    color: blue;
    font-size: 20px;
}

h1, h2, h3, h4 {
    font-weight: bold;
    margin: 10px 0;
}


a {
    text-decoration: underline;
}

a.no-decoration {
    text-decoration: none;
}

nav div {
    padding-left: 5px;
    /* margin: 0 20px; */
}

.navlink {
    margin-right: 10px;
}

.navlink a {
    text-decoration: none;
}

.navlink:hover {
    color: red;
    transition: .7s all ease-in-out;
}

.active {
    color: orange;
    background-color: rgb(245, 215, 215);
    border-radius: 4px;
    padding: 3px 10px;
}

.red {
    display: block;
    color: red;
}

.btn-default {
    margin-top: 20px;
    color: blue;
    border: 1px solid blue;
    transition: .7s all ease-in-out;
}

.btn-default:hover {
    background-color: blue;
    color: white;
    transition: .7s all ease-in-out;
}

.flash {
    display: none;
}
.flash.active {
    display: block;
}
.flash.active.success{
    background-color: green;
    color: #fff;
}
