body {
  background-color: cornsilk;
  color: #777;
  font-family: arial, sans-serif;
  text-align: center;
}
h1 {
  font-size: 64px;
  color: #555;
  margin: 50px 0 50px 0;
  text-shadow: 1px 2px 0 #ffa500;
}
p {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  font-size: 1.1em;
}
div {
  width: 97%;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}
a:link {
  color: #34536A;
}
a:visited {
  color: #34536A;
}
a:active {
  color: #34536A;
}
a,
a mark {
  padding: .5% .8%;
  text-decoration: none;
  transition: 5s;
  cursor: pointer;
  border-radius: 7px;
  background-color: rgba(0, 0, 0, 0);
  border: 3px;
}
a mark {
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 10px;
}
h3 {
  padding: 1%;
}
.c57 {
  margin: 0;
  font-weight: 800;
  font-size: 1.2em;
}
a:hover {
  color: red;
  background-color: yellow;
  transition: .7s;
  padding: .5% .8%;
  border-radius: 7px;
  border: 3px solid orange;
}
a:hover mark {
  color: red;
  border: 0;
  text-decoration: none;
  border-radius: 7px;
}
.sp1 {
  padding: .5% 0;
}
.noCadre a {
  border-color: rgba(0, 0, 0, 0);
  background-color: rgba(0, 0, 0, 0);
  margin-left: -8px;
  margin-right: -8px;
}
.noCadre a:hover {
  border-color: rgba(237, 127, 16, 0.7);
  background-color: rgba(0, 255, 255, 0.7);
  margin-left: -8px;
  margin-right: -8px;
}
.ext:hover,
a:hover.ext {
  background-color: cyan;
}
.c57 {
  color: #555;
  text-shadow: 1px 1px 0 #ffa500;
  font-weight: bold;
  letter-spacing: 1px;
}
.c57:nth-of-type(4) {
  font-size: 2em;
  line-height: .5;
}
.etapes {
  margin: 15px;
  font-size: .95em;
  line-height: 2;
}
a .nomarge {
  padding: 0;
  margin: 0;
  border: 0;
  color: green;
}
