[viewBag]
==
<div class="navbar-brand">
    <a href="/blog">Blog</a> &nbsp; <a href="/forum">Forum</a> &nbsp; <a href="/shovel">Prod</a> &nbsp; 
    {% if user %}
        <a href="#" data-request="onLogout">Logout</a>
    {% else %}
        <a href="{{ 'account'|page }}">Login</a>
    {% endif %}
</div>