<div class="alert alert-danger">
  Ooops... Un soucis...
</div>

<div class="alert alert-success">
  Votre message a bien été envoyé. Merci.
</div>

<h1>Component simpleForm</h1>

<div class="container">

  <div class="panel panel-default">

    <form data-request="{{ __SELF__ }}::onSend" data-request-update="'{{ __SELF__ }}::reponse': '#result'"
      data-request-success="$('#input-item').val('')" id="envoi-form">

      <label for="texte">Case à remplir</label>
      <input type="text" name="texte" id="texte" value="contenu">

      <button class="btn btn-primary" id="envoi">Envoyer</button>
    </form>

    <div id="resultat" class="panel-body mt-3">
      <label for="result">Réponse :</label>
      <div id="result"></div>
    </div>
  </div>

  <div class="raw">
    <div class="col p-3">
      <p>N.B.: Par défaut, l'envoi du email est désactivé.</p>
    </div>
  </div>
</div>

{% put scripts %}
<script>
  $(document).ready(function () {
    // $('#envoi').click();
    $('#resultat').hide();

    $(document).ajaxSuccess(function (event, xhr, settings) {
      $('.alert').removeClass('active');
      $('.alert-success').addClass('active');
      $('#resultat').show();
    })

    $(document).ajaxError(function (event, xhr, settings) {
      $('.alert').removeClass('active');
      $('.alert-danger').addClass('active');
      $('#resultat').show();
    })
  })
</script>
{% endput %}
