{% set var = __SELF__.var %}


<div class="container offset-0">
  <p class="h4 text-center">Une question ?</p>

  <div class="row">

    <div class="col text-center">
      <form>

        <button class="btn btn-success btn-lg getBtnO-N mr-2" name="oui" id="oui" data-request="{{ __SELF__ }}::onClick"
          data-request-update="'{{ __SELF__ }}::reponse': '^#reponse2'" data-request-data="id: 1"
          data-track-input="true"
          data-attach-loading
          data-request-flash>Oui</button>

        <button class="btn btn-danger btn-lg getBtnO-N" name="non" id="non" data-request="{{ __SELF__ }}::onClick"
          data-request-update="'{{ __SELF__ }}::reponse': '^#reponse2'" data-request-data="id: 0"
          data-track-input="true"
          data-attach-loading
          data-request-flash>Non</button>

      </form>
    </div>

    <div class="col">
      <div id="reponse2"></div>
    </div>

  </div>
</div>

{% put scripts %}
<script>
  $(document).ready(function () {
    $('#non').click();
  });
</script>
{% endput %}
