<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-61289532-1"></script>
<script>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());

    gtag('config', 'UA-61289532-1');
</script>
<meta charset="utf-8">

<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="keywords" content="{{ this.theme.keywords }}">
<meta name="author" content="{{ this.theme.website_author }}">

<title>{{ this.page.title }} | c57</title>
{# <title>{{ this.theme.website_name }} - {{ this.page.meta_title|default(this.page.title) }}</title> #}

{% if this.page.__isset('meta_description') and this.page.meta_description is not empty %}
<meta name="description" content="{{ this.page.meta_description }}">
{% endif %}

<meta name="author" content="GC7">
<meta name="generator" content="c57fr">

<link rel="canonical" href="{{ this.theme.website_url }}" />
<link rel="shortcut icon" type="image/png" href="{{ 'assets/images/favicon.ico'|theme }}">
<link rel="icon" type="image/gif" href="{{ 'assets/images/animated_favicon.gif'|theme }}">

{% if this.theme.load_google_fonts %}
<link href="https://fonts.googleapis.com/css?family={{ this.theme.google_font_family }}" rel="stylesheet">
{% endif %}
{% if this.theme.load_fontawesome %}
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet">
{% endif %}

<!--[if lte IE 8]><script src="{{ 'assets/js/ie/html5shiv.js'|theme }}"></script><![endif]-->
<!--[if lte IE 9]><link rel="stylesheet" href="{{ ['assets/dist/stellar/css/ie9.css']|theme }}" /><![endif]-->
<!--[if lte IE 8]><link rel="stylesheet" href="{{ ['assets/dist/stellar/css/ie8.css']|theme }}" /><![endif]-->

<link href="{{ [
    'assets/dist/stellar/css/main.css',
    'assets/dist/stellar/sass/zw_custom.scss',
    'assets/dist/css/une/all.css'
     ]|theme }}" rel="stylesheet" type="text/css">
{% styles %}
<!--

    'assets/dist/stellar/css/main.css',
    'assets/dist/stellar/sass/zw_custom.scss',
    'assets/dist/stellar/sass/zw_custom.scss',

-->
