/* Vendor */
@import "~semantic-ui-css/semantic.min.css";
/* Setup */
@import "reset";
@import "mixins";
@import "variables";
@import "fonts";
@import "globals";
@import "header";
@import "homepage";
@import "sidebar";
@import "footer";

body {
  //color: red;
  //background-color:blue;
}

.container {
  max-width: 100%;
}

.blockcentered {
  width: 97%;
  background-color: #fff;
  margin: 20px auto -20px;
  padding: 10px 20px;
  border: 2px solid #b7b7b7;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  border-radius: 7px;
}

p#testli {
  color: orange;
}
