[viewBag]
==
<?php
function onStart(){
    $this['env']=env('APP_ENV');
}
?>
==
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <title>{{ this.page.title }} | Librairie</title>

    {% placeholder metaTags %}

    {% styles %}
    {# <link rel="stylesheet" href="{{ 'assets/css/app.min.css'|theme}}"> #}

    {% if env=='DEV' %}
        {% component 'headAssets' %}
    {% else %}
        <link rel="stylesheet" href="themes/c57/build/assets/app.bc689c94.css">
    {% endif %}

   {#  Oki {{ env }} #}

</head>
