            <!--
              <a href="{{ 'home'|page }}" class="text-gray-300 hover:bg-gray-700 hover:text-white rounded-md px-3 py-2 text-sm font-medium">Accueil</a>

              <a href="{{ 'book'|page({slug: 'nimporte-quel-slug'}) }}" class="text-gray-300 hover:bg-gray-700 hover:text-white rounded-md px-3 py-2 text-sm font-medium">Livre</a>

                     Current: "bg-gray-900 text-white", Default: "text-gray-300 hover:bg-gray-700 hover:text-white"
              <a href="/" class="bg-gray-900 text-white rounded-md px-3 py-2 text-sm font-medium" aria-current="page">Accueil</a>
                -->

<a href="{{ href }}" class="text-gray-300 hover:bg-gray-700 hover:text-white rounded-md px-3 py-2 text-sm font-medium {% if (''|page is same as (href)) %}bg-gray-900 text-white {% endif %}">{{ name }}</a>
